<template>
  <div class="hold-transition skin-yellow-light sidebar-mini fixed" id="app">
    <div class="wrapper">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
export default {
  name: "app",
  data() {
    return {};
  }
};
</script>

<style>
</style>
