<template>
<div>
<va-navbar></va-navbar>
<va-sidebar></va-sidebar>
<div id="content-wrap" class="content-wrapper">
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        My Company Setting
        <small>Parking Management System</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">My Company</li>
      </ol>
    </section>
  <!-- Info boxes -->
  <section class="content">
    <!-- Country -->
    <row>
      <div class="col-md-12">
        <div class="alert alert-danger" v-if="inValid.length">
          <h4>Please correct the following error(s):</h4>
          <li v-for="error in inValid" v-bind:key="error">
            {{error}}
          </li>
        </div>
        <div class="box box-warning">
          <div class="box-header with-border">
            <h3 class="box-title" v-if="isForm == true">Add Company</h3>
            <h3 class="box-title" v-if="isFormEdit == true">Update Company</h3>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <row>
              <div class="col-md-12">
                <div class="form" v-if="isForm == true">
                  <form @submit.prevent="submitForm">
                    <row>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name">Company Name</label>
                            <input type="text" v-model="name" class="form-control" placeholder="Enter company name">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="code">Code</label>
                            <input type="text" v-model="code" class="form-control" placeholder="Enter company code">
                        </div>
                    </div>
                    </row>
                    <row>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="city">City</label>
                            <selectize 
                            v-model="city" 
                            :searchable="true" 
                            :settings="citySettings" 
                            >
                                <option v-for="(item,index) in cityArr" v-bind:key="index" :value="item._id" :text="item.title">
                                {{item.title}}, {{item.province.title}}, {{item.province.country.title}}
                                </option>
                            </selectize>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="location">Location</label>
                            <gmap-autocomplete 
                            @place_changed="setPlace"
                            class="form-control"
                            >
                            </gmap-autocomplete>
                        </div>
                    </div>
                    </row>
                    <row>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="title">Venue Address</label>
                            <input type="text" v-model="address" class="form-control" placeholder="Enter exact location address">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="helpline">Helpline</label>
                            <input type="text" v-model="helpline" class="form-control" placeholder="Enter helpline number">
                        </div>
                    </div>
                    </row>
                    <row>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="contactNo">Contact No</label>
                            <input type="contactNo" v-model="contactNo" class="form-control" placeholder="Enter valid contact number">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="email">Email
                              <small class="text-info">(Note: This will be username)</small>
                            </label>
                            <input type="email" v-model="email" class="form-control" placeholder="Enter valid email address">
                        </div>
                    </div>
                    </row>
                    <row>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="website">Website</label>
                            <input type="text" v-model="website" class="form-control" placeholder="Enter valid website, i.e. www.example.com">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="image">Logo</label>
                            <b-form-file
                                v-model="image"
                                :state="Boolean(image)"
                                drop-placeholder="Drop file here..."
                                @change="readImage"
                                type="file"
                            ></b-form-file>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <b-img
                            v-if="imagePreview"
                            :src="imagePreview"
                            v-bind="{width: 100, height: 100, class: 'pull-right img-rounded'}"
                            rounded
                        ></b-img>
                    </div>
                    </row>

                    <div class="box-footer col-sm-12">
                      <div class="pull-right">
                        <button type="submit" class="btn btn-info btn-sm">Add</button> |
                        <button type="reset" class="btn btn-default btn-sm">Reset</button>
                      </div>
                    </div>
                  </form>
                </div>
                <!-- Edit Form -->
                <div class="form" v-if="isFormEdit == true">
                  <form @submit.prevent="updateForm">
                    <row>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name">Company Name</label>
                            <input type="text" v-model="name" class="form-control" placeholder="Enter company name">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="code">Code</label>
                            <input type="text" v-model="code" class="form-control" placeholder="Enter company code" disabled readonly title="This could not be changed">
                        </div>
                    </div>
                    </row>
                    <row>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="city">City</label>
                            <selectize 
                            v-model="city" 
                            :searchable="true" 
                            :settings="citySettings" 
                            >
                                <option v-for="(item,index) in cityArr" v-bind:key="index" :value="item._id" :text="item.title">
                                {{item.title}}, {{item.province.title}}, {{item.province.country.title}}
                                </option>
                            </selectize>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="location">Location</label>
                            <gmap-autocomplete 
                                @place_changed="setPlace"
                                class="form-control"
                                :value="editLocation"
                            >
                            </gmap-autocomplete>
                        </div>
                    </div>
                    </row>
                    <row>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="title">Venue Address</label>
                            <input type="text" v-model="address" class="form-control" placeholder="Enter exact location address">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="helpline">Helpline</label>
                            <input type="text" v-model="helpline" class="form-control" placeholder="Enter helpline number">
                        </div>
                    </div>
                    </row>
                    <row>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="contactNo">Contact No</label>
                            <input type="contactNo" v-model="contactNo" class="form-control" placeholder="Enter valid contact number">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="email">Email
                              <small class="text-info">(Note: You can change email address, this will not be used as a username.)</small>
                            </label>
                            <input type="email" v-model="email" class="form-control" placeholder="Enter valid email address">
                        </div>
                    </div>
                    </row>
                    <row>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="website">Website</label>
                            <input type="text" v-model="website" class="form-control" placeholder="Enter valid website, i.e. www.example.com">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="image">Logo</label>
                            <b-form-file
                                v-model="imageEdit"
                                :state="Boolean(imageEdit)"
                                drop-placeholder="Drop file here..."
                                @change="readImage"
                                type="file"
                            ></b-form-file>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <b-img
                            v-if="imagePreview"
                            :src="imagePreview"
                            v-bind="{width: 100, height: 100, class: 'pull-right img-rounded'}"
                            rounded
                        ></b-img>
                    </div>
                    </row>

                    <div class="box-footer col-sm-12">
                      <div class="pull-right">
                        <button type="submit" class="btn btn-info btn-sm">Update</button> |
                        <button type="button" @click="closeForm" class="btn btn-default btn-sm">Cancel</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </row>
            <!-- /.row -->
          </div>
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </row>
    <!-- /.row -->
    <row>
      <div class="col-md-12">
        <div class="box box-warning">
          <div class="box-header with-border">
            <h3 class="box-title">Company Detail</h3>
            <div class="box-tools">
                <div class="form-group has-feedback">
                    <input type="text" v-model="search" class="form-control" placeholder="Search">
                    <span class="fa fa-search form-control-feedback"></span>
                </div>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">
              <table id="tableCountry" class="table table-hover no-margin table-condensed">
                <thead>
                <tr>
                  <th>Sr#</th>
                  <th>Company Name</th>
                  <th>Code</th>
                  <th>City</th>
                  <th>Email</th>
                  <th style="width: 15%">Added at</th>
                  <th class="text-center" style="width: 10%">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item,index) in recordsArrFilter" v-bind:key="index">
                  <td>{{index+1}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.code}}</td>
                  <td v-if="item.city != null">{{item.city.title}}</td>
                  <td class="text-danger" v-else>Not defined yet</td>
                  <td>{{item.email}}</td>
                  <td>{{item.createdAt | formatDateTime}}</td>
                  <td class="text-center">
                    <button type="button" class="btn btn-info btn-xs" @click="viewRecord(item._id)" title="View Record"><i class="fa fa-eye"></i></button> | <button type="button" @click="editRecord(item._id)" class="btn btn-success btn-xs" title="Update Record"><i class="fa fa-edit"></i></button>
                  </td>
                </tr>
                
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
        </div>
      </div>
    </row>
    <!-- /.Country -->    
  </section>
</div>
</div>
</template>
<script>
import Navbar from '../Navbar'
import Sidebar from '../Sidebar'
import axios from 'axios'
import Selectize from "vue2-selectize"
// import VueGoogleAutocomplete from 'vue-google-autocomplete'
export default {
  name: 'MyCompany',
  data(){
    return {
      basepath: process.env.VUE_APP_BASE_URL,
      isForm: true,
      isFormEdit: false,
      cityArr: [],
      citySettings: {
        maxItems: 1,
        searchField: ["text"],
        placeholder: "Select city here"
      },
      recordsArr: [],
      search: "",
      name: "",
      code: "",
      city: "",
      email: "",
      location: "",
      address: "",
      helpline: "",
      contactNo: "",
      website: "",
      image: "",
      imageEdit: "",
      imagePreview: "",
      inValid: [],
      editLocation: "",
      currentPlace: null

    }
  },
components: {
    'va-navbar': Navbar,
    'va-sidebar': Sidebar,
    Selectize
  },
  watch: {
      
  },
  
  created () {

  },
  computed: {
    recordsArrFilter: function() {
      return this.recordsArr.filter(items => {
        for (var item in items) {
          if (String(items[item]).toLowerCase().indexOf(this.search.toLowerCase()) !== -1) {
            return true;
          }
        }
        return false;
      });
    },
  },
  mounted() {
    this.showRecords();
    this.showCity();
    // this will focus cursor to that ref defined in an input
    // this.$refs.location.focus();
  },
  methods: {
    setPlace(place) {
        this.currentPlace = null;
        let addressData = {
            "title": this.extractContent(place.adr_address),
            "latitude": place.geometry.location.lat(),
            "longitude": place.geometry.location.lng(),
            "icon": place.icon
        }
        this.currentPlace = JSON.stringify(addressData);
    },
    // get text from html content
    extractContent(s) {
        var span = document.createElement('span');
        span.innerHTML = s;
        return span.textContent || span.innerText;
    },
    showRecords(){
      this.openLoading();
      axios.get(this.basepath+"/dashboard/my-company/get")
      .then(response => {
        this.closeLoading();
        this.recordsArr = response.data;
      });
    },
      // Submit form
      submitForm(e){
        e.preventDefault();
        this.inValid = [];
        if(!this.name){
          this.inValid.push("Name is required");
        }
        if(!this.code){
          this.inValid.push("Code is required");
        }
        if(!this.city){
          this.inValid.push("City is required");
        }
        if(!this.currentPlace){
          this.inValid.push("Location is required");
        }
        if(!this.address){
          this.inValid.push("Venue address is required");
        }
        if(!this.contactNo){
          this.inValid.push("Contact number is required");
        }
        if(!this.email){
          this.inValid.push("Valid email address is required");
        }
        if(!this.image){
          this.inValid.push("Upload an image, logo is required");
        }
        this.inValid.length > 0 ? window.scrollTo({ top: 0, behavior: 'smooth' }):false
        if (!this.inValid.length) {
        this.inValid = [];
        let self = this;
        let formData = new FormData();
        formData.append("image", this.image);
        formData.append("name", this.name);
        formData.append("code", this.code);
        formData.append("city", this.city);
        formData.append("location", this.currentPlace);
        formData.append("address", this.address);
        formData.append("helpline", this.helpline);
        formData.append("contactNo", this.contactNo);
        formData.append("email", this.email);
        formData.append("website", this.website);
        this.openLoading();
        axios
          .post(
            this.basepath + "/dashboard/my-company/add",
            formData
          )
          .then(response => {
            this.closeLoading();
            if (response.data.success) {
              this.$toasted.global.successMsg();
              self.resetForm();
              self.showRecords();
            } else if (response.data.error) {
              throw response.data.error;
            }
          })
          .catch(error => {
            this.$toasted.global.errorMsg({
              message: `${error}`
            });
          });
      }
      },
      // update form
      updateForm(e){
        e.preventDefault();
        this.inValid = [];
        if(!this.name){
          this.inValid.push("Name is required");
        }
        if(!this.code){
          this.inValid.push("Code is required");
        }
        if(!this.city){
          this.inValid.push("City is required");
        }
        if(!this.currentPlace){
          this.inValid.push("Location is required");
        }
        if(!this.address){
          this.inValid.push("Venue address is required");
        }
        if(!this.contactNo){
          this.inValid.push("Contact number is required");
        }
        if(!this.email){
          this.inValid.push("Valid email address is required");
        }
        this.inValid.length > 0 ? window.scrollTo({ top: 0, behavior: 'smooth' }):false
        if (!this.inValid.length) {
        this.inValid = [];
        let self = this;
        let formData = new FormData();
        formData.append("image", this.imageEdit);
        formData.append("name", this.name);
        formData.append("code", this.code);
        formData.append("city", this.city);
        formData.append("location", this.currentPlace);
        formData.append("address", this.address);
        formData.append("helpline", this.helpline);
        formData.append("contactNo", this.contactNo);
        formData.append("email", this.email);
        formData.append("website", this.website);
        formData.append("companyId", this.companyId);
        this.openLoading();
        axios
          .post(
            this.basepath + "/dashboard/my-company/update",
            formData
          )
          .then(response => {
            this.closeLoading();
            if (response.data.success) {
              this.$toasted.global.successMsg({
                message: "Record has been updated successfully!"
              });
              self.resetForm();
              self.showRecords();
            } else if (response.data.error) {
              throw response.data.error;
            }
          })
          .catch(error => {
            this.$toasted.global.errorMsg({
              message: `${error}`
            });
          });
        }
      },
      readImage(input) {
      const file = input.target.files[0];
      if (file.type == "image/jpeg" || file.type == "image/png") {
        this.imagePreview = URL.createObjectURL(file);
      } else {
        this.$toasted.global.errorMsg({ message: "Please upload Image with jpeg or png format"});
        this.imagePreview = "";
      }
    },
    showCity(){
      this.openLoading();
      axios.get(this.basepath+"/dashboard/city/get")
      .then(response => {
        this.closeLoading();
        this.cityArr = response.data;
      });
    },
    // edit
    editRecord(id){
      this.openLoading();
      this.isForm = false;
      this.isFormEdit = true;
      axios.get(this.basepath+"/dashboard/my-company/"+id+"/edit")
      .then(response => {
        this.closeLoading();
        this.name = response.data.name;
        this.code = response.data.code;
        this.companyId = response.data._id;
        this.city = response.data.city;
        this.address = response.data.address;
        this.helpline = response.data.helpline;
        this.contactNo = response.data.contactNo;
        this.email = response.data.email;
        this.website = response.data.website;        
        this.imagePreview = this.basepath+response.data.image;   
        this.editLocation = response.data.location.title;
        this.currentPlace = JSON.stringify({
          "title": response.data.location.title,
          "latitude": response.data.location.latitude, 
          "longitude": response.data.location.longitude,
          "icon": response.data.location.icon
          });     
        window.scrollTo({ top: 0, behavior: 'smooth' });
      });
    },
    // delete country
    deleteRecord(id){
      this.$fire({title: "Are you sure",text: "To delete this record?",type: "question",showCancelButton: true}).then((r) => {
          if(r.value == true){
            this.openLoading();
            axios.get(this.basepath+"/dashboard/city/"+id+"/delete")
            .then(response => {
            this.closeLoading();
            if(response)
            this.$fire({
                title: "Success!",
                text: "Record has been deleted successfully.",
                type: "info",
                timer: 5000
            });
            this.showDistrict();
            });
          }
      });
    },
    // close edit form
    closeForm(){
      this.isFormEdit = false;
      this.isForm = true;
      this.resetForm();
    },
    openLoading() {
      this.$vs.loading({
        type: "material"
      });
    },
    closeLoading() {
      this.$vs.loading.close();
    },
    resetForm(){
      this.isFormEdit = false;
      this.isForm = true;
      this.name = "";
      this.code = "";
      this.city = "";
      this.location = "";
      this.address = "";
      this.helpline = "";
      this.contactNo = "";
      this.email = "";
      this.website = "";
      this.image = "";
      this.imagePreview = "";
      this.companyId = "";
      this.editLocation = "";
    }
  }
}
</script>
<style scoped>
.selectize-control.multi .selectize-input > div {
  background: rgba(7, 167, 225, 0.61);
  color: #333333;
}
.con-select {
  font-size: 0.85rem !important;
}
.selectize-input.items.not-full.has-options.has-items {
  font-size: 0.85rem !important;
}
</style>