<template>
<div>
<va-navbar></va-navbar>
<va-sidebar></va-sidebar>
<div id="content-wrap" class="content-wrapper">
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Software Version Update
        <small>Parking Management System</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Software version update</li>
      </ol>
    </section>
  <!-- Info boxes -->
  <section class="content">
    <!-- Country -->
    <row>
      <div class="col-md-12">
        <div class="alert alert-danger" v-if="inValid.length">
          <h4>Please correct the following error(s):</h4>
          <li v-for="error in inValid" v-bind:key="error">
            {{error}}
          </li>
        </div>
        <div class="box box-warning">
          <div class="box-header with-border">
            <h3 class="box-title" v-if="isForm == true">Add Software</h3>
            <h3 class="box-title" v-if="isFormEdit == true">Update Software</h3>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <row>
              <div class="col-md-12">
                <div class="form" v-if="isForm == true">
                  <form @submit.prevent="submitForm">
                    <row>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name">Application Name</label>
                            <input type="text" v-model="appName" class="form-control" placeholder="Enter application name">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="version">Version</label>
                            <input type="text" v-model="version" class="form-control" placeholder="Enter software version">
                        </div>
                    </div>
                    </row>
                    <row>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="updatedOn">Updated On</label>
                            <input type="date" v-model="updatedOn" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="licenceNo">Licence No</label>
                            <input type="text" v-model="licenceNo" class="form-control" placeholder="Enter licence number">
                        </div>
                    </div>
                    </row>
                    <row>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="androidPath">Android Path Link</label>
                            <input type="text" v-model="androidPath" class="form-control" placeholder="Enter download path link">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="iosPath">iOS Path Link</label>
                            <input type="text" v-model="iosPath" class="form-control" placeholder="Enter iOS download path link">
                        </div>
                    </div>
                    </row>
                    <row>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="webPath">Web URL</label>
                            <input type="webPath" v-model="webPath" class="form-control" placeholder="Enter website URL">
                        </div>
                    </div>
                    </row>
                    <row>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea v-model="description" id="description" class="form-control" maxlength="300" rows="5" placeholder="Specifications and details about this software version"></textarea>
                        </div>
                    </div>
                    </row>

                    <div class="box-footer col-sm-12">
                      <div class="pull-right">
                        <button type="submit" class="btn btn-info btn-sm">Add</button> |
                        <button type="reset" class="btn btn-default btn-sm">Reset</button>
                      </div>
                    </div>
                  </form>
                </div>
                <!-- Edit Form -->
                <div class="form" v-if="isFormEdit == true">
                  <form @submit.prevent="updateForm">
                    <row>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name">Application Name</label>
                            <input type="text" v-model="appName" class="form-control" placeholder="Enter application name">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="version">Version</label>
                            <input type="text" v-model="version" class="form-control" placeholder="Enter software version">
                        </div>
                    </div>
                    </row>
                    <row>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="updatedOn">Updated On</label>
                            <input type="date" v-model="updatedOn" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="licenceNo">Licence No</label>
                            <input type="text" v-model="licenceNo" class="form-control" placeholder="Enter licence number">
                        </div>
                    </div>
                    </row>
                    <row>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="androidPath">Android Path Link</label>
                            <input type="text" v-model="androidPath" class="form-control" placeholder="Enter downloadable path link for Android">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="iosPath">iOS Path Link</label>
                            <input type="text" v-model="iosPath" class="form-control" placeholder="Enter iOS downloadable path link for iOS">
                        </div>
                    </div>
                    </row>
                    <row>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="webPath">Web URL</label>
                            <input type="webPath" v-model="webPath" class="form-control" placeholder="Enter website URL">
                        </div>
                    </div>
                    </row>
                    <row>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea v-model="description" id="description" class="form-control" maxlength="300" rows="5" placeholder="Specifications and details about this software version"></textarea>
                        </div>
                    </div>
                    </row>

                    <div class="box-footer col-sm-12">
                      <div class="pull-right">
                        <button type="submit" class="btn btn-info btn-sm">Update</button> |
                        <button type="button" @click="closeForm" class="btn btn-default btn-sm">Cancel</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </row>
            <!-- /.row -->
          </div>
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </row>
    <!-- /.row -->
    <row>
      <div class="col-md-12">
        <div class="box box-warning">
          <div class="box-header with-border">
            <h3 class="box-title">Software Detail</h3>
            <div class="box-tools">
                <div class="form-group has-feedback">
                    <input type="text" v-model="search" class="form-control" placeholder="Search">
                    <span class="fa fa-search form-control-feedback"></span>
                </div>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">
              <table id="tableCountry" class="table table-hover no-margin table-condensed">
                <thead>
                <tr>
                  <th>Sr#</th>
                  <th>Application Name</th>
                  <th>Version</th>
                  <th>Licence No.</th>
                  <th>Updated On</th>
                  <th style="width: 15%">Added at</th>
                  <th class="text-center" style="width: 10%">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item,index) in recordsArrFilter" v-bind:key="index">
                  <td>{{index+1}}</td>
                  <td>{{item.appName}}</td>
                  <td>{{item.version}}</td>
                  <td>{{item.licenceNo}}</td>
                  <td>{{item.updatedOn | formatDateTime}}</td>
                  <td>{{item.createdAt | formatDateTime}}</td>
                  <td class="text-center">
                    <button type="button" class="btn btn-info btn-xs" @click="viewRecord(item._id)" title="View Record"><i class="fa fa-eye"></i></button> | <button type="button" @click="editRecord(item._id)" class="btn btn-success btn-xs" title="Update Record"><i class="fa fa-edit"></i></button> | <button type="button" @click="deleteRecord(item._id)" class="btn btn-danger btn-xs" title="Delete Record"><i class="fa fa-trash"></i></button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
        </div>
      </div>
    </row>
    <!-- /.Country -->    
  </section>
</div>
</div>
</template>
<script>
import Navbar from '../Navbar'
import Sidebar from '../Sidebar'
import axios from 'axios'
export default {
  name: 'SoftwareUpdate',
  data(){
    return {
      basepath: process.env.VUE_APP_BASE_URL,
      isForm: true,
      isFormEdit: false,
      recordsArr: [],
      search: "",
      version: "",
      updatedOn: "",
      licenceNo: "",
      androidPath: "",
      iosPath: "",
      webPath: "",
      description: "",
      inValid: [],
      softwareId: "",

    }
  },
components: {
    'va-navbar': Navbar,
    'va-sidebar': Sidebar,
  },
  watch: {
      
  },
  
  created () {

  },
  computed: {
    recordsArrFilter: function() {
      return this.recordsArr.filter(items => {
        for (var item in items) {
          if (String(items[item]).toLowerCase().indexOf(this.search.toLowerCase()) !== -1) {
            return true;
          }
        }
        return false;
      });
    },
  },
  mounted() {
    this.showRecords();
    // this will focus cursor to that ref defined in an input
    // this.$refs.location.focus();
  },
  methods: {
    showRecords(){
      this.openLoading();
      axios.get(this.basepath+"/dashboard/software-update/get")
      .then(response => {
        this.closeLoading();
        this.recordsArr = response.data;
      });
    },
      // Submit form
      submitForm(e){
        e.preventDefault();
        this.inValid = [];
        if(!this.appName){
          this.inValid.push("Application Name is required");
        }
        if(!this.version){
          this.inValid.push("Version is required");
        }
        if(!this.updatedOn){
          this.inValid.push("Updated on date is required");
        }
        if(!this.licenceNo){
          this.inValid.push("Licence number is required");
        }
        if(!this.androidPath){
          this.inValid.push("Android path link is required");
        }
        if(!this.iosPath){
          this.inValid.push("iOS path link is required");
        }
        if(!this.webPath){
          this.inValid.push("Valid website address is required");
        }
        if(!this.description){
          this.inValid.push("Description about software version is required.");
        }
        this.inValid.length > 0 ? window.scrollTo({ top: 0, behavior: 'smooth' }):false
        if (!this.inValid.length) {
        this.inValid = [];
        let self = this;
        let formData = new FormData();
        formData.append("appName", this.appName);
        formData.append("version", this.version);
        formData.append("updatedOn", this.updatedOn);
        formData.append("licenceNo", this.licenceNo);
        formData.append("androidPath", this.androidPath);
        formData.append("iosPath", this.iosPath);
        formData.append("webPath", this.webPath);
        formData.append("description", this.description);
        this.openLoading();
        axios
          .post(
            this.basepath + "/dashboard/software-update/add",
            formData
          )
          .then(response => {
            this.closeLoading();
            if (response.data.success) {
              this.$toasted.global.successMsg();
              self.resetForm();
              self.showRecords();
            } else if (response.data.error) {
              throw response.data.error;
            }
          })
          .catch(error => {
            this.$toasted.global.errorMsg({
              message: `${error}`
            });
          });
      }
      },
      // update form
      updateForm(e){
        e.preventDefault();
        this.inValid = [];
        if(!this.appName){
          this.inValid.push("Application Name is required");
        }
        if(!this.version){
          this.inValid.push("Version is required");
        }
        if(!this.updatedOn){
          this.inValid.push("Updated on date is required");
        }
        if(!this.licenceNo){
          this.inValid.push("Licence number is required");
        }
        if(!this.androidPath){
          this.inValid.push("Android path link is required");
        }
        if(!this.iosPath){
          this.inValid.push("iOS path link is required");
        }
        if(!this.webPath){
          this.inValid.push("Valid website address is required");
        }
        if(!this.description){
          this.inValid.push("Description about software version is required.");
        }
        this.inValid.length > 0 ? window.scrollTo({ top: 0, behavior: 'smooth' }):false
        if (!this.inValid.length) {
        this.inValid = [];
        let self = this;
        let formData = new FormData();
        formData.append("appName", this.appName);
        formData.append("version", this.version);
        formData.append("updatedOn", this.updatedOn);
        formData.append("licenceNo", this.licenceNo);
        formData.append("androidPath", this.androidPath);
        formData.append("iosPath", this.iosPath);
        formData.append("webPath", this.webPath);
        formData.append("description", this.description);
        formData.append("softwareId", this.softwareId);
        this.openLoading();
        axios
          .post(
            this.basepath + "/dashboard/software-update/update",
            formData
          )
          .then(response => {
            this.closeLoading();
            if (response.data.success) {
              this.$toasted.global.successMsg({ message: "Record has been updated successfully!" });
              self.resetForm();
              self.showRecords();
            } else if (response.data.error) {
              throw response.data.error;
            }
          })
          .catch(error => {
            this.$toasted.global.errorMsg({
              message: `${error}`
            });
          });
        }
      },
    // edit
    editRecord(id){
      this.openLoading();
      this.isForm = false;
      this.isFormEdit = true;
      axios.get(this.basepath+"/dashboard/software-update/"+id+"/edit")
      .then(response => {
        this.closeLoading();
        this.softwareId = response.data._id;
        this.appName = response.data.appName;
        this.version = response.data.version;
        this.updatedOn = response.data.updatedOn;
        this.licenceNo = response.data.licenceNo;
        this.androidPath = response.data.androidPath;
        this.iosPath = response.data.iosPath;
        this.webPath = response.data.webPath;
        this.description = response.data.description; 
        window.scrollTo({ top: 0, behavior: 'smooth' });
      });
    },
    // delete country
    deleteRecord(id){
      this.$fire({title: "Are you sure",text: "To delete this record?",type: "question",showCancelButton: true}).then((r) => {
          if(r.value == true){
            this.openLoading();
            axios.get(this.basepath+"/dashboard/software-update/"+id+"/delete")
            .then(response => {
            this.closeLoading();
            if(response)
            this.$fire({
                title: "Success!",
                text: "Record has been deleted successfully.",
                type: "info",
                timer: 5000
            });
            this.showDistrict();
            });
          }
      });
    },
    // close edit form
    closeForm(){
      this.isFormEdit = false;
      this.isForm = true;
      this.resetForm();
    },
    openLoading() {
      this.$vs.loading({
        type: "material"
      });
    },
    closeLoading() {
      this.$vs.loading.close();
    },
    resetForm(){
      this.isFormEdit = false;
      this.isForm = true;
      this.appName = "";
      this.version = "";
      this.updatedOn = "";
      this.licenceNo = "";
      this.androidPath = "";
      this.iosPath = "";
      this.webPath = "";
      this.description = "";
      this.softwareId = "";
    }
  }
}
</script>
<style scoped>
.selectize-control.multi .selectize-input > div {
  background: rgba(7, 167, 225, 0.61);
  color: #333333;
}
.con-select {
  font-size: 0.85rem !important;
}
.selectize-input.items.not-full.has-options.has-items {
  font-size: 0.85rem !important;
}
</style>