<template>
<div>
<va-navbar></va-navbar>
<va-sidebar></va-sidebar>
<div id="content-wrap" class="content-wrapper">
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Create Users
        <small>Parking Management System</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">My Company Users - Create users</li>
      </ol>
    </section>
  <!-- Info boxes -->
  <section class="content">
    <!-- Country -->
    <row>
      <div class="col-md-12">
        <div class="alert alert-danger" v-if="inValid.length">
          <h4>Please correct the following error(s):</h4>
          <li v-for="error in inValid" v-bind:key="error">
            {{error}}
          </li>
        </div>
        <div class="box box-warning">
          <div class="box-header with-border">
            <h3 class="box-title" v-if="isForm == true">Add New User</h3>
            <h3 class="box-title" v-if="isFormEdit == true">Update User</h3>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <row>
              <div class="col-md-12">
                <div class="form" v-if="isForm == true">
                  <form @submit.prevent="submitForm">
                    <row>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" v-model="name" class="form-control" placeholder="Enter name">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="fName">Father Name</label>
                            <input type="text" v-model="fName" class="form-control" placeholder="Enter father name">
                        </div>
                    </div>
                    </row>
                    <row>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="contactNo">Contact No</label>
                            <input type="contactNo" v-model="contactNo" class="form-control" placeholder="Enter valid contact number">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="presonalNo">Personal No.
                                <small class="text-info">[ CNIC, Passport or any other Identity number.]</small>
                            </label>
                            <input type="text" v-model="personalNo" class="form-control" placeholder="Enter CNIC, Passport or any other Identity number">
                        </div>
                    </div>
                    </row>
                    <row>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="designation">Select Designation</label>
                            <selectize 
                            v-model="designation" 
                            :searchable="true" 
                            :settings="designationSettings" 
                            >
                                <option v-for="(item,index) in desigArr" v-bind:key="index" :value="item._id" :text="item.title">{{item.title}}
                                </option>
                            </selectize>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="memberSince">Member Since</label>
                            <input type="date" v-model="memberSince" class="form-control">
                        </div>
                    </div>
                    </row>

                    <row>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="city">Select City / District</label>
                            <selectize 
                            v-model="city" 
                            :searchable="true" 
                            :settings="citySettings" 
                            >
                                <option v-for="(item,index) in cityArr" v-bind:key="index" :value="item._id" :text="item.title">{{item.title}}, {{item.province.title}}, {{item.province.country.title}}
                                </option>
                            </selectize>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="address">Residential Address</label>
                            <input type="text" v-model="address" class="form-control" placeholder="Enter home address of the member">
                        </div>
                    </div>
                    </row>
                    
                    <row>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="email">Email </label>
                            <small class="text-primary"> [ Note: This will use as a USERNAME for login.]</small>
                            <input type="email" v-model="email" class="form-control" placeholder="Enter valid email address">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="code">Code </label>
                            <small class="text-primary"> [ Note: This will use as a PASSWORD for login.]</small>
                            <input type="text" v-model="code" class="form-control" placeholder="Enter password">
                        </div>
                    </div>
                    </row>
                    <row>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="image">Profile Image</label>
                            <b-form-file
                                v-model="image"
                                :state="Boolean(image)"
                                drop-placeholder="Drop file here..."
                                @change="readImage"
                                type="file"
                            ></b-form-file>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <b-img
                            v-if="imagePreview"
                            :src="imagePreview"
                            v-bind="{width: 100, height: 100, class: 'img-rounded'}"
                            rounded
                        ></b-img>
                    </div>
                    </row>

                    <div class="box-footer col-sm-12">
                      <div class="pull-right">
                        <button type="submit" class="btn btn-info btn-sm">Add</button> |
                        <button type="reset" class="btn btn-default btn-sm">Reset</button>
                      </div>
                    </div>
                  </form>
                </div>
                <!-- Edit Form -->
                <div class="form" v-if="isFormEdit == true">
                  <form @submit.prevent="updateForm">
                    <row>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" v-model="name" class="form-control" placeholder="Enter name">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="fName">Father Name</label>
                            <input type="text" v-model="fName" class="form-control" placeholder="Enter father name">
                        </div>
                    </div>
                    </row>
                    <row>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="contactNo">Contact No</label>
                            <input type="contactNo" v-model="contactNo" class="form-control" placeholder="Enter valid contact number">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="presonalNo">Personal No.
                                <small class="text-info">(CNIC, Passport or any other Identity number)</small>
                            </label>
                            <input type="text" v-model="personalNo" class="form-control" placeholder="Enter CNIC, Passport or any other Identity number">
                        </div>
                    </div>
                    </row>
                    <row>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="designation">Select Designation</label>
                            <selectize 
                            v-model="designation" 
                            :searchable="true" 
                            :settings="designationSettings" 
                            >
                                <option v-for="(item,index) in desigArr" v-bind:key="index" :value="item._id" :text="item.title">{{item.title}}
                                </option>
                            </selectize>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="memberSince">Member Since <i class="text-primary">({{this.memberSince | formatDate}}) </i> </label>
                            <input type="date" v-model="memberSince" class="form-control">
                        </div>
                    </div>
                    </row>

                    <row>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="city">Select City / District</label>
                            <selectize 
                            v-model="city" 
                            :searchable="true" 
                            :settings="citySettings" 
                            >
                                <option v-for="(item,index) in cityArr" v-bind:key="index" :value="item._id" :text="item.title">{{item.title}}, {{item.province.title}}, {{item.province.country.title}}
                                </option>
                            </selectize>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="address">Residential Address</label>
                            <input type="text" v-model="address" class="form-control" placeholder="Enter home address of the member">
                        </div>
                    </div>
                    </row>
                    
                    <row>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="email">Email </label>
                            <small class="text-primary"> ( Note: This will use as a USERNAME for login. )</small>
                            <input type="email" v-model="email" class="form-control" placeholder="Enter valid email address">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="code">Code </label>
                            <small class="text-primary"> ( Note: This will use as a PASSWORD for login. )</small>
                            <input type="text" v-model="code" class="form-control" disabled readonly>
                        </div>
                    </div>
                    </row>
                    <row>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="image">Profile Image</label>
                            <b-form-file
                                v-model="image"
                                :state="Boolean(image)"
                                drop-placeholder="Drop file here..."
                                @change="readImage"
                                type="file"
                            ></b-form-file>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <b-img
                            v-if="imagePreview"
                            :src="imagePreview"
                            v-bind="{width: 100, height: 100, class: 'img-rounded'}"
                            rounded
                        ></b-img>
                    </div>
                    </row>

                    <div class="box-footer col-sm-12">
                      <div class="pull-right">
                        <button type="submit" class="btn btn-info btn-sm">Update</button> |
                        <button type="button" @click="closeForm" class="btn btn-default btn-sm">Cancel</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </row>
            <!-- /.row -->
          </div>
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </row>
    <!-- /.row -->
    <row>
      <div class="col-md-12">
        <div class="box box-warning">
          <div class="box-header with-border">
            <h3 class="box-title">Users List</h3>
            <div class="box-tools">
                <div class="form-group has-feedback">
                    <input type="text" v-model="search" class="form-control" placeholder="Search">
                    <span class="fa fa-search form-control-feedback"></span>
                </div>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">
              <table id="tableCountry" class="table table-hover no-margin table-condensed">
                <thead>
                <tr>
                  <th>Sr#</th>
                  <th>Name</th>
                  <th>Username</th>
                  <th>Contact#</th>
                  <th>Designation</th>
                  <th style="width: 15%">Member Since</th>
                  <th class="text-center" style="width: 10%">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item,index) in recordsArrFilter" v-bind:key="index">
                  <td>{{index+1}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.username}}</td>
                  <td>{{item.contactNo}}</td>
                  <td>{{item.designation.title}}</td>
                  <td>{{item.memberSince | formatDate}}</td>
                  <td class="text-center">
                    <button type="button" class="btn btn-info btn-xs" @click="viewRecord(item._id)" title="View Record"><i class="fa fa-eye"></i></button> | <button type="button" @click="editRecord(item._id)" class="btn btn-success btn-xs" title="Update Record"><i class="fa fa-edit"></i></button> | <button type="button" @click="deleteRecord(item._id)" class="btn btn-danger btn-xs" title="Delete Record"><i class="fa fa-trash"></i></button>
                  </td>
                </tr>
                </tbody>
                <caption class="text-center" v-if="!recordsArrFilter.length">No data found</caption>
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
        </div>
      </div>
    </row>
    <!-- /.Country -->    
  </section>
</div>
</div>
</template>
<script>
import Navbar from '../Navbar'
import Sidebar from '../Sidebar'
import axios from 'axios'
import Selectize from "vue2-selectize"
export default {
  name: 'MyTeam',
  data(){
    return {
      basepath: process.env.VUE_APP_BASE_URL,
      isForm: true,
      isFormEdit: false,
      recordsArr: [],
      search: "",
      name: "",
      fName: "",
      contactNo: "",
      email: "",
      personalNo: "",
      designation: "",
      memberSince: "",
      address: "",
      image: "",
      imageEdit: "",
      imagePreview: "",
      inValid: [],
      profileLink: "",
      cityArr: [],
      city: "",
      citySettings: {
        maxItems: 1,
        searchField: ["text"],
        placeholder: "Select city/district here"
      },
      designationSettings: {
        maxItems: 1,
        searchField: ["text"],
        placeholder: "Select designation here"
      },
      desigArr: [],
      userId: "",

    }
  },
components: {
    'va-navbar': Navbar,
    'va-sidebar': Sidebar,
    Selectize
  },
  watch: {
      
  },
  
  created () {

  },
  computed: {
    recordsArrFilter: function() {
      return this.recordsArr.filter(items => {
        for (var item in items) {
          if (String(items[item]).toLowerCase().indexOf(this.search.toLowerCase()) !== -1) {
            return true;
          }
        }
        return false;
      });
    },
  },
  mounted() {
    this.showRecords();
    this.showCities();
    this.showDesignation();
    // this will focus cursor to that ref defined in an input
    // this.$refs.location.focus();
  },
  methods: {
    showCities(){
      this.openLoading();
      axios.get(this.basepath+"/dashboard/city/get")
      .then(response => {
        this.closeLoading();
        this.cityArr = response.data;
      });
    },
    showDesignation(){
      this.openLoading();
      axios.get(this.basepath+"/dashboard/mycompany-users/user-designation/get")
      .then(response => {
        this.closeLoading();
        this.desigArr = response.data;
      });
    },
    showRecords(){
      this.openLoading();
      axios.get(this.basepath+"/dashboard/mycompany-users/users/get")
      .then(response => {
        this.closeLoading();
        this.recordsArr = response.data;
      });
    },
      // Submit form
      submitForm(e){
        e.preventDefault();
        this.inValid = [];
        if(!this.name){
          this.inValid.push("Name is required");
        }
        if(!this.fName){
          this.inValid.push("Father name is required");
        }
        if(!this.contactNo){
          this.inValid.push("Contact number is required");
        }
        if(!this.email){
          this.inValid.push("Email address is required");
        }
        if(!this.code){
          this.inValid.push("Code (password) is required");
        }
        if(!this.address){
          this.inValid.push("Home address is required");
        }
        if(!this.designation){
          this.inValid.push("Contact number is required");
        }
        if(!this.memberSince){
          this.inValid.push("Member since date is required");
        }
        if(!this.image){
          this.inValid.push("Upload profile image is required");
        }
        if(!this.city){
          this.inValid.push("Select city / distirct from dropdown is required");
        }
        this.inValid.length > 0 ? window.scrollTo({ top: 0, behavior: 'smooth' }):false
        if (!this.inValid.length) {
        this.inValid = [];
        let self = this;
        let formData = new FormData();
        formData.append("image", this.image);
        formData.append("name", this.name);
        formData.append("fName", this.fName);
        formData.append("personalNo", this.personalNo);
        formData.append("designation", this.designation);
        formData.append("address", this.address);
        formData.append("memberSince", this.memberSince);
        formData.append("contactNo", this.contactNo);
        formData.append("email", this.email);
        formData.append("code", this.code);
        formData.append("city", this.city);
        this.openLoading();
        axios
          .post(
            this.basepath + "/dashboard/mycompany-users/user/add",
            formData
          )
          .then(response => {
            this.closeLoading();
            if (response.data.success) {
              this.$toasted.global.successMsg();
              self.resetForm();
              self.showRecords();
            } else if (response.data.error) {
              throw response.data.error;
            }
          })
          .catch(error => {
            this.$toasted.global.errorMsg({
              message: `${error}`
            });
          });
      }
      },
      // update form
      updateForm(e){
        e.preventDefault();
        this.inValid = [];
        if(!this.name){
          this.inValid.push("Name is required");
        }
        if(!this.fName){
          this.inValid.push("Father name is required");
        }
        if(!this.contactNo){
          this.inValid.push("Contact number is required");
        }
        if(!this.email){
          this.inValid.push("Email address is required");
        }
        if(!this.address){
          this.inValid.push("Home address is required");
        }
        if(!this.designation){
          this.inValid.push("Contact number is required");
        }
        if(!this.memberSince){
          this.inValid.push("Member since date is required");
        }
        this.inValid.length > 0 ? window.scrollTo({ top: 0, behavior: 'smooth' }):false
        if (!this.inValid.length) {
        this.inValid = [];
        let self = this;
        let formData = new FormData();
        formData.append("image", this.image);
        formData.append("name", this.name);
        formData.append("fName", this.fName);
        formData.append("personalNo", this.personalNo);
        formData.append("designation", this.designation);
        formData.append("address", this.address);
        formData.append("memberSince", this.memberSince);
        formData.append("contactNo", this.contactNo);
        formData.append("email", this.email);
        formData.append("city", this.city);
        formData.append("userId", this.userId);
        this.openLoading();
        axios
          .post(
            this.basepath + "/dashboard/mycompany-users/user/update",
            formData
          )
          .then(response => {
            this.closeLoading();
            if (response.data.success) {
              this.$toasted.global.successMsg({ message: "Record has been updated successfully!" });
              self.resetForm();
              self.showRecords();
            } else if (response.data.error) {
              throw response.data.error;
            }
          })
          .catch(error => {
            this.$toasted.global.errorMsg({
              message: `${error}`
            });
          });
        }
      },
      readImage(input) {
      const file = input.target.files[0];
      if (file.type == "image/jpeg" || file.type == "image/png") {
        this.imagePreview = URL.createObjectURL(file);
      } else {
        this.$toasted.global.errorMsg({ message: "Please upload Image with jpeg or png format" });
        this.imagePreview = "";
      }
    },
    // edit
    editRecord(id){
      this.openLoading();
      this.isForm = false;
      this.isFormEdit = true;
      axios.get(this.basepath+"/dashboard/mycompany-users/user/"+id+"/edit")
      .then(response => {
        this.closeLoading();
        this.name = response.data.name;
        this.fName = response.data.fName;
        this.userId = response.data._id;
        this.contactNo = response.data.contactNo;
        this.personalNo = response.data.personalNo;
        this.designation = response.data.designation;
        this.memberSince = response.data.memberSince;
        this.email = response.data.email;
        this.city = response.data.city;        
        this.imagePreview = this.basepath+response.data.image;
        this.address = response.data.address;
        this.code = response.data.code;
        window.scrollTo({ top: 0, behavior: 'smooth' });
      });
    },
    // delete country
    deleteRecord(id){
      this.$fire({title: "Are you sure",text: "To delete this record?",type: "question",showCancelButton: true}).then((r) => {
          if(r.value == true){
            this.openLoading();
            axios.get(this.basepath+"/dashboard/myteam/"+id+"/delete")
            .then(response => {
            this.closeLoading();
            if(response)
            this.$fire({
                title: "Success!",
                text: "Record has been deleted successfully.",
                type: "info",
                timer: 5000
            });
            this.showDistrict();
            });
          }
      });
    },
    // close edit form
    closeForm(){
      this.isFormEdit = false;
      this.isForm = true;
      this.resetForm();
    },
    openLoading() {
      this.$vs.loading({
        type: "material"
      });
    },
    closeLoading() {
      this.$vs.loading.close();
    },
    resetForm(){
      this.isFormEdit = false;
      this.isForm = true;
      this.name = "";
      this.fName = "";
      this.personalNo = "";
      this.contactNo = "";
      this.email = "";
      this.address = "";
      this.designation = "";
      this.code = "";
      this.city = "";
      this.image = "";
      this.imagePreview = "";
      this.userId = "";
      this.memberSince = "";
    }
  }
}
</script>
<style scoped>
.selectize-control.multi .selectize-input > div {
  background: rgba(7, 167, 225, 0.61);
  color: #333333;
}
.con-select {
  font-size: 0.85rem !important;
}
.selectize-input.items.not-full.has-options.has-items {
  font-size: 0.85rem !important;
}
</style>