<template>
<div>
<va-navbar></va-navbar>
<va-sidebar></va-sidebar>
<div id="content-wrap" class="content-wrapper">
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Login History
        <small>Parking Management System</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">My Company Users - Login History</li>
      </ol>
    </section>
  <!-- Info boxes -->
  <section class="content">
    <row>
      <div class="col-md-12">
        <div class="box box-warning">
          <div class="box-header with-border">
            <h3 class="box-title">Login History of Users</h3>
            <div class="box-tools">
                <div class="form-group has-feedback">
                    <input type="text" v-model="search" class="form-control" placeholder="Search">
                    <span class="fa fa-search form-control-feedback"></span>
                </div>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">
              <table id="tableCountry" class="table table-hover no-margin table-condensed">
                <thead>
                <tr>
                  <th>Sr#</th>
                  <th>Name</th>
                  <th>Username</th>
                  <th>Designation</th>
                  <th style="width: 15%">Member Since</th>
                  <th>Last Login</th>
                  <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item,index) in recordsArrFilter" v-bind:key="index">
                  <td>{{index+1}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.username}}</td>
                  <td>{{item.designation.title}}</td>
                  <td>{{item.memberSince | formatDate}}</td>
                  <td v-if="item && item.last_login != null">{{ item.last_login | formatDateTime }}</td>
                  <td v-else>N/A</td>
                  <td v-if="item && item.status && item.status === true"><span class="badge bg-green">Online</span></td>
                  <td v-else><span class="badge bg-red">Offline</span></td>
                </tr>
                </tbody>
                <caption class="text-center" v-if="!recordsArrFilter.length">No data found</caption>
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
        </div>
      </div>
    </row>
    <!-- /.Country -->    
  </section>
</div>
</div>
</template>
<script>
import Navbar from '../Navbar'
import Sidebar from '../Sidebar'
import axios from 'axios'
export default {
  name: 'LoginHistory',
  data(){
    return {
      basepath: process.env.VUE_APP_BASE_URL,
      isForm: true,
      isFormEdit: false,
      recordsArr: [],
      search: "",
      image: "",
      imagePreview: "",
      profileLink: "",
      userId: "",

    }
  },
components: {
    'va-navbar': Navbar,
    'va-sidebar': Sidebar
  },
  watch: {
      
  },
  
  created () {

  },
  computed: {
    recordsArrFilter: function() {
      return this.recordsArr.filter(items => {
        for (var item in items) {
          if (String(items[item]).toLowerCase().indexOf(this.search.toLowerCase()) !== -1) {
            return true;
          }
        }
        return false;
      });
    },
  },
  mounted() {
    this.showRecords();
    // this will focus cursor to that ref defined in an input
    // this.$refs.location.focus();
  },
  methods: {
    showRecords(){
      this.openLoading();
      axios.get(`${this.basepath}/dashboard/mycompany-users/login-history/get`)
      .then(response => {
        this.closeLoading();
        this.recordsArr = response.data;
      });
    },
    openLoading() {
      this.$vs.loading({
        type: "material"
      });
    },
    closeLoading() {
      this.$vs.loading.close();
    },
  }
}
</script>
<style scoped>
.selectize-control.multi .selectize-input > div {
  background: rgba(7, 167, 225, 0.61);
  color: #333333;
}
.con-select {
  font-size: 0.85rem !important;
}
.selectize-input.items.not-full.has-options.has-items {
  font-size: 0.85rem !important;
}
</style>