<template>
<div>
<va-navbar></va-navbar>
<va-sidebar></va-sidebar>
<div id="content-wrap" class="content-wrapper">
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Users Branch
        <small>Parking Management System</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Users Branch</li>
      </ol>
    </section>
  <!-- Info boxes -->
  <section class="content">
    <!-- Country -->
    <row>
      <div class="col-md-12">
        <div class="alert alert-danger" v-if="inValid.length">
          <h4>Please correct the following error(s):</h4>
          <li v-for="error in inValid" v-bind:key="error">
            {{error}}
          </li>
        </div>
        <div class="box box-warning" v-if="isForm == true | isFormEdit == true">
          <div class="box-header with-border">
            <h3 class="box-title" v-if="isForm == true">Shift User to Branch</h3>
            <h3 class="box-title" v-if="isFormEdit == true">Update Shift User to Branch</h3>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <row>
              <div class="col-md-12">
                <div class="form" v-if="isForm == true">
                  <form @submit.prevent="submitForm">
                    <row>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="company">Select Company</label>
                            <selectize 
                            v-model="company" 
                            :searchable="true" 
                            :settings="companySettings" 
                            >
                                <option v-for="(item,index) in companyArr" v-bind:key="index" :value="item._id" :text="item.name">
                                {{item.name}}
                                </option>
                            </selectize>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="branch">Select Branch</label>
                            <selectize 
                            v-model="branch" 
                            :searchable="true" 
                            :settings="branchSettings" 
                            >
                                <option v-for="(item,index) in branchArr" v-bind:key="index" :value="item._id" :text="item.title">
                                Title: {{item.title}}, Code: {{ item.code }}
                                </option>
                            </selectize>
                        </div>
                    </div>
                    </row>
                    <row>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="branch">Select User</label>
                            <selectize 
                            v-model="user" 
                            :searchable="true" 
                            :settings="userSettings" 
                            >
                                <option v-for="(item,index) in userArr" v-bind:key="index" :value="item._id" :text="item.name">
                                Name: {{ item.name }}, Email: {{ item.email }}
                                </option>
                            </selectize>
                        </div>
                    </div>
                    </row>

                    <div class="box-footer col-sm-12">
                      <div class="pull-right">
                        <button type="submit" class="btn btn-info btn-sm">Add</button> |
                        <button type="button" @click="closeForm" class="btn btn-default btn-sm">Cancel</button>
                      </div>
                    </div>
                  </form>
                </div>
                <!-- Edit Form -->
                <div class="form" v-if="isFormEdit == true">
                  <form @submit.prevent="updateForm">
                    <row>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="company">Select Company</label>
                            <selectize 
                            v-model="company" 
                            :searchable="true" 
                            :settings="companySettings" 
                            >
                                <option v-for="(item,index) in companyArr" v-bind:key="index" :value="item._id" :text="item.name">
                                {{item.name}}
                                </option>
                            </selectize>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="branch">Select Branch</label>
                            <selectize 
                            v-model="branch" 
                            :searchable="true" 
                            :settings="branchSettings" 
                            >
                                <option v-for="(item,index) in branchArr" v-bind:key="index" :value="item._id" :text="item.title">
                                Title: {{item.title}}, Code: {{ item.code }}
                                </option>
                            </selectize>
                        </div>
                    </div>
                    </row>
                    <row>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="branch">Select User</label>
                            <selectize 
                            v-model="user" 
                            :searchable="true" 
                            :settings="userSettings" 
                            >
                                <option v-for="(item,index) in userArr" v-bind:key="index" :value="item._id" :text="item.name">
                                Name: {{ item.name }}, Email: {{ item.email }}
                                </option>
                            </selectize>
                        </div>
                    </div>
                    </row>
                    <input type="hidden" v-model="userBranchId">

                    <div class="box-footer col-sm-12">
                      <div class="pull-right">
                        <button type="submit" class="btn btn-info btn-sm">Update</button> |
                        <button type="button" @click="closeForm" class="btn btn-default btn-sm">Cancel</button>
                      </div>
                    </div>
                  </form>
                </div>

              </div>
            </row>
            <!-- /.row -->
          </div>
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </row>
    <!-- /.row -->
    <row>
      <div class="col-md-12">
        <div class="box box-warning">
          <div class="box-header with-border">
            <h3 class="box-title">Users Branch Detail</h3>
            <button type="button" class="btn btn-info btn-xs" @click="isForm = true" style="margin-left: 560px"><i class="fa fa-plus"></i> New User's Branch</button>
            <div class="box-tools">
                
                <div class="form-group has-feedback">
                    <input type="text" v-model="search" class="form-control" placeholder="Search">
                    <span class="fa fa-search form-control-feedback"></span>
                </div>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">
              <table id="tableCountry" class="table table-hover no-margin table-condensed">
                <thead>
                <tr>
                  <th>Sr#</th>
                  <th>User</th>
                  <th>Company Name</th>
                  <th>Branch</th>
                  <th>Previous Branch(s)</th>
                  <th style="width: 15%">Created at</th>
                  <th style="width: 15%">Updated at</th>
                  <th class="text-center" style="width: 20%">Action</th>
                </tr>
                </thead>
                <tbody v-if="recordsArrFilter && recordsArrFilter.length > 0">
                <tr v-for="(item,index) in recordsArrFilter" v-bind:key="index">
                  <td>{{index+1}}</td>
                  <td>{{item.createUser.name}}</td>
                  <td>{{item.company.name}}</td>
                  <td v-if="item && item.currentBranch">{{item.currentBranch.title}}</td>
                  <td class="text-danger" v-else>Not defined yet</td>
                  <td v-if="item.oldBranch && item.oldBranch.length > 0">
                    <ul v-for="(branch,index) in item.oldBranch" :key="index">
                        <li class="text-sm"><i>{{ branch.title }}</i></li>
                    </ul>
                </td>
                <td class="text-danger" v-else>Not found</td>
                  <td>{{item.createdAt | formatDateTime}}</td>
                  <td>{{item.updatedAt | formatDateTime}}</td>
                  <td class="text-center">
                    <button type="button" class="btn btn-info btn-xs" @click="viewRecord(item._id)" title="View Record"><i class="fa fa-eye"></i></button> | <button type="button" @click="editRecord(item._id)" class="btn btn-success btn-xs" title="Shift to other branch">Change Branch</button> | 
                    <button type="button" @click="deleteRecord(item._id)" class="btn btn-danger btn-xs" title="Delete Record"><i class="fa fa-trash"></i></button>
                  </td>
                </tr>
                
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
        </div>
      </div>
    </row>
    <!-- /.Country -->    
  </section>
</div>
</div>
</template>
<script>
import Navbar from '../Navbar'
import Sidebar from '../Sidebar'
import axios from 'axios'
import Selectize from "vue2-selectize"
export default {
  name: 'UserBranch',
  data(){
    return {
      basepath: process.env.VUE_APP_BASE_URL,
      isForm: false,
      isFormEdit: false,
      companyArr: [],
      companySettings: {
        maxItems: 1,
        searchField: ["text"],
        placeholder: "Select company here"
      },
      branchArr: [],
      branchSettings: {
        maxItems: 1,
        searchField: ["text"],
        placeholder: "Select branch here"
      },
      userArr: [],
      userSettings: {
        maxItems: 1,
        searchField: ["text"],
        placeholder: "Select user here"
      },
      recordsArr: "",
      search: "",
      company: "",
      branch: "",
      userBranchId: "",
      inValid: [],
    }
  },
components: {
    'va-navbar': Navbar,
    'va-sidebar': Sidebar,
    Selectize,
  },
  watch: {},
  
  created () {},
  computed: {
    recordsArrFilter: function() {
        if(this.recordsArr && this.recordsArr.length > 0){
            return this.recordsArr.filter(items => {
                for (var item in items) {
                if (String(items[item]).toLowerCase().indexOf(this.search.toLowerCase()) != -1) {
                    return true;
                }
                }
                return false;
            });
        }
        return false;
    },
  },
  mounted() {
    this.listRecords();
    this.listCompanies();
    this.listBranches();
    this.listUsers();
  },
  methods: {
    listRecords(){
      this.openLoading();
      axios.get(`${this.basepath}/dashboard/mycompany-users/shift-to-branch/get`)
      .then(response => {
        this.closeLoading();
        this.recordsArr = response.data;
      });
    },
    listCompanies(){
      this.openLoading();
      axios.get(`${this.basepath}/dashboard/my-company/get`)
      .then(response => {
        this.closeLoading();
        this.companyArr = response.data;
      });
    },
    listBranches(){
      this.openLoading();
      axios.get(`${this.basepath}/dashboard/mycompany-users/branches/dropdown`)
      .then(response => {
        this.closeLoading();
        this.branchArr = response.data;
      });
    },
    listUsers(){
      this.openLoading();
      axios.get(`${this.basepath}/dashboard/mycompany-users/users/dropdown`)
      .then(response => {
        this.closeLoading();
        this.userArr = response.data;
      });
    },
      // Submit form
      submitForm(e){
        e.preventDefault();
        this.inValid = [];
        if(!this.company){
          this.inValid.push("Company is required");
        }
        if(!this.user){
          this.inValid.push("Select user is required");
        }
        if(!this.branch){
          this.inValid.push("Branch is required");
        }
        this.inValid.length > 0 ? window.scrollTo({ top: 0, behavior: 'smooth' }):false
        if (!this.inValid.length) {
        this.inValid = [];
        let self = this;
        let formData = new FormData();
        formData.append("user", this.user);
        formData.append("company", this.company);
        formData.append("branch", this.branch);
        this.openLoading();
        axios
          .post(
            `${this.basepath}/dashboard/mycompany-users/shift-to-branch/user/add`,
            formData
          )
          .then(response => {
            this.closeLoading();
            if (response.data.success) {
              this.$toasted.global.successMsg({
                message: "Branch has been assigned to the user successfully."
              });
              self.resetForm();
              self.listRecords();
            } else if (response.data.error) {
              throw response.data.error;
            }
          })
          .catch(error => {
            this.$toasted.global.errorMsg({
              message: error
            })
          });
      }
      },
      // update form
      updateForm(e){
        e.preventDefault();
        this.inValid = [];
        if(!this.company){
          this.inValid.push("Company is required");
        }
        if(!this.user){
          this.inValid.push("Select user is required");
        }
        if(!this.branch){
          this.inValid.push("Branch is required");
        }
        this.inValid.length > 0 ? window.scrollTo({ top: 0, behavior: 'smooth' }):false
        if (!this.inValid.length) {
        this.inValid = [];
        let self = this;
        let formData = new FormData();
        formData.append("user", this.user);
        formData.append("company", this.company);
        formData.append("branch", this.branch);
        formData.append("userBranchId", this.userBranchId);
        this.openLoading();
        axios
          .post(
            `${this.basepath}/dashboard/mycompany-users/shift-to-branch/user/update`,
            formData
          )
          .then(response => {
            this.closeLoading();
            if (response.data.success) {
              this.$toasted.global.successMsg({
                message: `${response.data.success}`
              });
              self.resetForm();
              self.listRecords();
            } else if (response.data.error) {
              throw response.data.error;
            }
          })
          .catch(error => {
            this.$toasted.global.errorMsg({
              message: error
            })
          });
        }
      },
      
    // edit
    editRecord(id){
      this.openLoading();
      this.isForm = false;
      this.isFormEdit = true;
      axios.get(`${this.basepath}/dashboard/mycompany-users/shift-to-branch/${id}/edit`)
      .then(response => {
        this.closeLoading();
        this.userBranchId = response.data._id;
        this.user = response.data.createUser;
        this.company = response.data.company;
        this.branch = response.data.currentBranch;
        window.scrollTo({ top: 0, behavior: 'smooth' });
      });
    },
    // delete branch
    deleteRecord(id){
      this.$fire({title: "Are you sure",text: "To delete this record?",type: "question",showCancelButton: true}).then((r) => {
          if(r.value == true){
            this.openLoading();
            axios.get(`${this.basepath}/dashboard/mycompany-users/shift-to-branch/${id}/delete`)
            .then(response => {
            this.closeLoading();
            if(response)
            this.$fire({
                title: "Success!",
                text: `${response.data.success}`,
                type: "info",
                timer: 5000
            });
            this.listRecords();
            });
          }
      });
    },
    // close edit form
    closeForm(){
      this.isFormEdit = false;
      this.isForm = false;
      this.resetForm();
    },
    openLoading() {
      this.$vs.loading({
        type: "material"
      });
    },
    closeLoading() {
      this.$vs.loading.close();
    },
    resetForm(){
      this.isFormEdit = false;
      this.isForm = false;
      this.userBranchId = "";
      this.company = "";
      this.user = "";
      this.branch = "";
    }
  }
}
</script>
<style scoped>
.selectize-control.multi .selectize-input > div {
  background: rgba(7, 167, 225, 0.61);
  color: #333333;
}
.con-select {
  font-size: 0.85rem !important;
}
.selectize-input.items.not-full.has-options.has-items {
  font-size: 0.85rem !important;
}
</style>