<template>
<div>
<va-navbar></va-navbar>
<va-sidebar></va-sidebar>
<div id="content-wrap" class="content-wrapper">
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Users Designation
        <small>Parking Management System</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">My Company Users - Designation</li>
      </ol>
    </section>
  <!-- Info boxes -->
  <section class="content">
    <!-- Country -->
    <row>
      <div class="col-md-12">
        <div class="box box-warning">
          <div class="box-header with-border">
            <h3 class="box-title">User Designation</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <row>
              <div class="col-md-12">
                <div class="form" v-if="isForm == true">
                  <form @submit.prevent="submitForm">
                    <div class="form-group">
                        <label for="title">Designation Title</label>
                        <input type="text" v-model="title" class="form-control" placeholder="Enter title of a designation">
                    </div>
                    <div class="box-footer">
                      <div class="pull-right">
                        <button type="submit" class="btn btn-info btn-sm">Add</button> |
                        <button type="reset" class="btn btn-default btn-sm">Reset</button>
                      </div>
                  </div>
                  </form>
                </div>
                <!-- /.chart-responsive -->
                <!-- Edit Country Form -->
                <div class="form" v-if="isFormEdit == true">
                  <form @submit.prevent="updateForm">
                    <div class="form-group">
                        <label for="title">Designation Title</label>
                        <input type="text" v-model="title" class="form-control" placeholder="Enter title of a designation">
                    </div>
                    <input type="hidden" v-model="desigId">
                    <div class="box-footer">
                      <div class="pull-right">
                        <button type="submit" class="btn btn-info btn-sm">Update</button> |
                        <button type="button" @click="closeForm" class="btn btn-default btn-sm">Cancel</button>
                      </div>
                  </div>
                  </form>
                </div>
              </div>
            </row>
            <!-- /.row -->
          </div>
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </row>
    <!-- /.row -->
    <row>
      <div class="col-md-12">
        <div class="box box-warning">
          <div class="box-header with-border">
            <h3 class="box-title">Designation List</h3>
            <div class="box-tools">
                <div class="form-group has-feedback">
                    <input type="text" v-model="search" class="form-control" placeholder="Search">
                    <span class="fa fa-search form-control-feedback"></span>
                </div>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">
              <table id="tableCountry" class="table table-hover no-margin table-condensed">
                <thead>
                <tr>
                  <th>Sr#</th>
                  <th>Name of Designation</th>
                  <th style="width: 15%">Added at</th>
                  <th style="width: 15%">Updated at</th>
                  <th class="text-center" style="width: 10%">Action</th>
                </tr>
                </thead>
                <tbody v-if="recordArrFilter">
                <tr v-for="(item,index)  in recordArrFilter" v-bind:key="index">
                  <td>{{index+1}}</td>
                  <td>{{item.title}}</td>
                  <td>{{item.createdAt | formatDateTime}}</td>
                  <td v-if="item.updatedAt">{{item.updatedAt | formatDateTime}}</td>
                  <td v-else>--</td>
                  <td class="text-center">
                    <button type="button" class="btn btn-info btn-xs" @click="editRecord(item._id)"><i class="fa fa-edit"></i></button> | <button type="button" @click="deleteRecord(item._id)" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
        </div>
      </div>
    </row>
    <!-- /.Country -->    
  </section>
</div>
</div>
</template>
<script>
import Navbar from '../Navbar'
import Sidebar from '../Sidebar'
import axios from 'axios'
export default {
  name: 'UserDesignation',
  data(){
    return {
      basepath: process.env.VUE_APP_BASE_URL,
      isForm: true,
      isFormEdit: false,
      recordArr: [],
      title: "",
      search: "",
      desigId: "",

    }
  },
  
  created () {

  },
  mounted() {
    this.showRecords();
  },
  computed: {
    recordArrFilter: function() {
      return this.recordArr.filter(items => {
        for (var item in items) {
          if (String(items[item]).toLowerCase().indexOf(this.search.toLowerCase()) !== -1) {
            return true;
          }
        }
        return false;
      });
    },
  },
  methods: {
    showRecords(){
      this.openLoading();
      axios.get(`${this.basepath}/dashboard/mycompany-users/user-designation/get`)
      .then(response => {
        this.closeLoading();
        this.recordArr = response.data;
      });
    },
    // add record
    submitForm(e){
      e.preventDefault();
      this.inValid = [];
      if(!this.title){
        this.inValid.push("Designation title is required");
      }
      for (var i = 0; i < this.inValid.length; i++) {
        this.$toasted.global.errorMsg({
          message: `${this.inValid[i]}`
        });
      }
      if (!this.inValid.length) {
        this.openLoading();
        axios.post(`${this.basepath}/dashboard/mycompany-users/user-designation/add`,{
            title: this.title
          })
        .then(response => {
          this.closeLoading();
          if(response.data.success){
            this.$toasted.global.successMsg({
              message: `${response.data.success}`
            })
            this.showRecords();
            this.resetForm();
          } else {
           this.$toasted.global.errorMsg({
              message: `${response.data.error}`
            });
          }
        });
      }
    },
    // edit record
    editRecord(id){
      this.openLoading();
      this.isForm = false;
      this.isFormEdit = true;
      axios.get(`${this.basepath}/dashboard/mycompany-users/user-designation/${id}/edit`)
      .then(response => {
        this.closeLoading();
        this.title = response.data.title;
        this.desigId = response.data._id;
      });
    },
    // update record
    updateForm(e){
      e.preventDefault();
      this.inValid = [];
      if(!this.title){
        this.inValid.push("Designation title is required");
      }
      for (var i = 0; i < this.inValid.length; i++) {
        this.$toasted.global.errorMsg({
          message: `${this.inValid[i]}`
        });
      }
      if (!this.inValid.length) {
        this.openLoading();
        axios.post(this.basepath+"/dashboard/mycompany-users/user-designation/update",{
            title: this.title,
            desigId: this.desigId
          })
        .then(response => {
          this.closeLoading();
          if(response.data.success){
            this.$toasted.global.successMsg({ message: "Record has been updated successfully." });
            this.showRecords();
            this.resetForm();
          } else {
            this.$toasted.global.errorMsg({
              message: `${response.data.error}`
            });
          }
        });
      }
    },
    // delete record
    deleteRecord(id){
      this.$fire({title: "Are you sure",text: "To delete this record?",type: "question",showCancelButton: true}).then((r) => {
          if(r.value == true){
          this.openLoading();
          axios.get(this.basepath+"/dashboard/mycompany-users/user-designation/"+id+"/delete")
          .then(response => {
            this.closeLoading();
            if(response){
            this.$fire({
              title: "Success",
              text: "Record has been deleted successfully.",
              type: "info",
              timer: 5000
            });
            this.showRecords();
            this.resetForm();
            }
          });
        }
      });
    },
    // close edit form of country
    closeForm(){
      this.isFormEdit = false;
      this.isForm = true;
      this.resetForm();
    },
    openLoading() {
      this.$vs.loading({
        type: "material"
      });
    },
    closeLoading() {
      this.$vs.loading.close();
    },
    resetForm(){
      this.isFormEdit = false;
      this.isForm = true;
      this.desigId = "";
      this.title = "";
    }
  },
   
  components: {
    'va-navbar': Navbar,
    'va-sidebar': Sidebar
  }
}
</script>