<template>
<div>
<va-navbar></va-navbar>
<va-sidebar></va-sidebar>
<div id="content-wrap" class="content-wrapper">
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small>Parking Management System</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>
  <!-- Info boxes -->
  <section class="content">
    <row>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-aqua"><i class="fa fa-car"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Over All Parking</span>
            <span class="info-box-number">90</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-green"><i class="fa fa-check"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Online Parking</span>
            <span class="info-box-number">60</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->

      <!-- fix for small devices only -->
      <div class="clearfix visible-sm-block"></div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-red"><i class="fa fa-close"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Offline Parking</span>
            <span class="info-box-number">20</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-yellow"><i class="fa fa-ban"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Disabled Parking</span>
            <span class="info-box-number">10</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
    </row>
    <!-- /.row -->

    <row>
      <div class="col-md-12">
        <div class="box box-warning">
          <div class="box-header with-border">
            <h3 class="box-title">Locations</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
              <div class="btn-group">
                <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-wrench"></i></button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <row>
              <div class="col-md-12">
                <!-- <p class="text-center">
                  <strong>Sales: 1 Jan, 2014 - 30 Jul, 2014</strong>
                </p> -->

                <div class="chart">
                  <!-- Sales Chart Canvas -->
                  <GmapMap
                    :center="{lat:34.0151, lng:71.5249}"
                    :zoom="11"
                    style="width: 100%; height: 350px"
                  >
                    <GmapMarker
                      :key="index"
                      v-for="(m, index) in markers"
                      :position="m.position"
                      :clickable="true"
                      :draggable="true"
                      :icon="m.icon"
                      @click="center=m.position"
                      
                    />
                  </GmapMap>
                  
                </div>
                <!-- /.chart-responsive -->
              </div>
            </row>
            <!-- /.row -->
          </div>
          <!-- ./box-body -->
          <div class="box-footer">
            <row>
              <div class="col-sm-3 col-xs-6">
                <div class="description-block border-right">
                  <h5 class="description-header">10</h5>
                  <span class="description-text">New Request</span>
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              <div class="col-sm-3 col-xs-6">
                <div class="description-block border-right">
                  <h5 class="description-header">20</h5>
                  <span class="description-text">In-Progress</span>
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              <div class="col-sm-3 col-xs-6">
                <div class="description-block border-right">
                  <h5 class="description-header">13</h5>
                  <span class="description-text">Alert Hits</span>
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              <div class="col-sm-3 col-xs-6">
                <div class="description-block">
                  <h5 class="description-header">11</h5>
                  <span class="description-text">Find Hits</span>
                </div>
                <!-- /.description-block -->
              </div>
            </row>
            <!-- /.row -->
          </div>
          <!-- /.box-footer -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </row>
    <!-- /.row -->

    <!-- Main row -->
    <row>
      <!-- My Users -->
      <div class="col-md-4">
        <div class="box box-warning">
          <div class="box-header with-border">
            <h3 class="box-title">Users</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">
              <table class="table table-hover no-margin table-condensed">
                <thead>
                <tr>
                  <th>Sr#</th>
                  <th>Name</th>
                  <th>Login Time</th>
                  <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>1</td>
                  <td><a href="#">Imran Azim</a></td>
                  <td>11:12 hrs</td>
                  <td>
                    <span class="label label-success">Online</span>
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td><a href="#">Junaid Ahmad</a></td>
                  <td>10:12 hrs</td>
                  <td>
                    <span class="label label-success">Online</span>
                  </td>
                </tr>
                <tr>
                  <td>3</td>
                  <td><a href="#">Mohammad Adil</a></td>
                  <td>11:12 hrs</td>
                  <td>
                    <span class="label label-danger">Offline</span>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
            <div class="box-footer text-center">
              <span class="label label-info">Total Users: 17</span>&nbsp;<span class="label label-success">Online: 10</span>&nbsp;<span class="label label-danger">Offline: 07</span>
            </div>
          </div>
        </div>
      </div>
      <!-- /.My Users -->
      <!-- Security users -->
      <div class="col-md-4">
        <div class="box box-warning">
          <div class="box-header with-border">
            <h3 class="box-title">Security Users</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">
              <table class="table no-margin table-hover table-condensed">
                <thead>
                <tr>
                  <th>Sr#</th>
                  <th>Name</th>
                  <th>Login Time</th>
                  <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>1</td>
                  <td><a href="#">Khan</a></td>
                  <td>11:12 hrs</td>
                  <td>
                    <span class="label label-success">Online</span>
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td><a href="#">Ali Khan</a></td>
                  <td>10:12 hrs</td>
                  <td>
                    <span class="label label-success">Online</span>
                  </td>
                </tr>
                <tr>
                  <td>3</td>
                  <td><a href="#">Kashif</a></td>
                  <td>11:12 hrs</td>
                  <td>
                    <span class="label label-danger">Offline</span>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
            <div class="box-footer text-center">
              <span class="label label-info">Total Users: 17</span>&nbsp;<span class="label label-success">Online: 10</span>&nbsp;<span class="label label-danger">Offline: 07</span>
            </div>
          </div>
        </div>
      </div>
      <!-- /.Security users -->
      <div class="col-md-4">
        <div class="box box-warning">
          <div class="box-header with-border">
            <h3 class="box-title">Country</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">
              <table class="table no-margin table-hover table-condensed">
                <thead>
                <tr>
                  <th>Sr#</th>
                  <th>eParking</th>
                  <th>Today Parked</th>
                  <th>Total Parked</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>1</td>
                  <td>#</td>
                  <td>#</td>
                  <td>#</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>#</td>
                  <td>#</td>
                  <td>#</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>#</td>
                  <td>#</td>
                  <td>#</td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
            <div class="box-footer text-center">
              <span class="label label-info">Today Parked: 17</span>&nbsp;<span class="label label-success">Total Parked: 20</span>
            </div>
          </div>
        </div>
      </div>
    </row>
    <!-- /.row -->

    <!-- clients -->
    <!-- Main row -->
    <row>
      <!-- My Users -->
      <div class="col-md-4">
        <div class="box box-warning">
          <div class="box-header with-border">
            <h3 class="box-title">Client Users</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">
              <table class="table table-hover no-margin table-condensed">
                <thead>
                <tr>
                  <th>Sr#</th>
                  <th>Client</th>
                  <th>Login Time</th>
                  <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>1</td>
                  <td><a href="#">Imran Azim</a></td>
                  <td>11:12 hrs</td>
                  <td>
                    <span class="label label-success">Online</span>
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td><a href="#">Junaid Ahmad</a></td>
                  <td>10:12 hrs</td>
                  <td>
                    <span class="label label-success">Online</span>
                  </td>
                </tr>
                <tr>
                  <td>3</td>
                  <td><a href="#">Mohammad Adil</a></td>
                  <td>11:12 hrs</td>
                  <td>
                    <span class="label label-danger">Offline</span>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
            <div class="box-footer text-center">
              <span class="label label-info">Total Clients: 17</span>&nbsp;<span class="label label-success">Online: 10</span>&nbsp;<span class="label label-danger">Offline: 07</span>
            </div>
          </div>
        </div>
      </div>
      <!-- /.My Users -->
      <!-- Security users -->
      <div class="col-md-4">
        <div class="box box-warning">
          <div class="box-header with-border">
            <h3 class="box-title">New Clients</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">
              <table class="table no-margin table-hover table-condensed">
                <thead>
                <tr>
                  <th>Sr#</th>
                  <th>Client</th>
                  <th>Mobile</th>
                  <th>Deal by</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>1</td>
                  <td><a href="#">Khan</a></td>
                  <td>03002525252</td>
                  <td>Hayyan</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td><a href="#">Khan Arif</a></td>
                  <td>03002525252</td>
                  <td>Wali</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td><a href="#">Khan Gul</a></td>
                  <td>03002525252</td>
                  <td>Hayyan</td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
            <div class="box-footer text-center">
              <span class="label label-info">Total New: 17</span>
            </div>
          </div>
        </div>
      </div>
      <!-- /.Security users -->
      <div class="col-md-4">
        <div class="box box-warning">
          <div class="box-header with-border">
            <h3 class="box-title">Customer Support</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">
              <table class="table no-margin table-hover table-condensed">
                <thead>
                <tr>
                  <th>Sr#</th>
                  <th>Client Name</th>
                  <th>Q-Type</th>
                  <th>Help by</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>1</td>
                  <td>Janab</td>
                  <td>1</td>
                  <td>Hassan</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Hiho</td>
                  <td>2</td>
                  <td>Hassan</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Koko</td>
                  <td>1</td>
                  <td>Hassan</td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
            <div class="box-footer text-center">
              <span class="label label-info">Total: 17</span>
            </div>
          </div>
        </div>
      </div>
    </row>
    <!-- /.row -->
    
  </section>
</div>
</div>
</template>
<script>
// gmapkey: 'AIzaSyAtZXg0silNQgaz3_vwi7ll7ErTMQe9q84'
import Navbar from './Navbar'
import Sidebar from './Sidebar'
export default {
  name: 'sample',
  data(){
    return {
      currentUser: "",
      basepath: "",
      userType: "",
      markers: [],
      center: {lat: 34.0151,lng: 71.5249},
    }
  },
  
  created () {
    this.currentUser = JSON.parse(localStorage.getItem('currentUser'));
    this.basepath = localStorage.getItem("BASE_PATH");
    this.markers.push({ 
          position: this.center, 
          icon: 'https://maps.google.com/mapfiles/kml/shapes/parking_lot_maps.png' 
    });
  },
  mounted() {
    
  },
  methods: {
    openLoading() {
      this.$vs.loading({
        type: "material"
      });
    },
    closeLoading() {
      this.$vs.loading.close();
    },
  },
   
  components: {
    'va-navbar': Navbar,
    'va-sidebar': Sidebar
  }
}
</script>
