<template>
  <aside id="slider" class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img v-if="url_image" :src="url_image" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{this.currentUser.name}}</p>
          <a href="#"><i class="fa fa-circle" style="color: green"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="button" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        
        <li :class="[currentPage.includes('home') ? 'active':'','treeview']">
          <router-link to="/dashboard/home">
            <i class="fa fa-dashboard"></i> <span>Admin Dashboard</span>
          </router-link>
        </li>
        
        <li :class="[currentPage.includes('my-company') ? 'active':'','treeview']">
          <a href="javascript:;">
            <i class="fa fa-building"></i>
            <span>My Company</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li :class="[currentPage.includes('my-company/setting') ? 'active':'']">
              <router-link to="/dashboard/my-company/setting/show"><i class="fa fa-circle-o"></i> My Company</router-link>
            </li>
            <li :class="[currentPage.includes('my-company/software-update') ? 'active':'']">
              <router-link to="/dashboard/my-company/software-update/show"><i class="fa fa-circle-o"></i> Software Update</router-link>
            </li>
            <li :class="[currentPage.includes('my-company/myteam') ? 'active':'']">
              <router-link to="/dashboard/my-company/myteam/show"><i class="fa fa-circle-o"></i> My Team</router-link>
            </li>
            <li :class="[currentPage.includes('my-company/branches') ? 'active':'']">
              <router-link to="/dashboard/my-company/branches/show"><i class="fa fa-circle-o"></i> Branches</router-link>
            </li>
          </ul>
        </li>

        <li :class="[currentPage.includes('company-users') ? 'active':'','treeview']">
          <a href="javascript:;">
            <i class="fa fa-users"></i>
            <span>My Company Users</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li :class="[currentPage.includes('company-users/create-users') ? 'active':'']">
              <router-link to="/dashboard/company-users/create-users/show"><i class="fa fa-circle-o"></i> Create Users</router-link>
            </li>
            <li :class="[currentPage.includes('company-users/login-history') ? 'active':'']">
              <router-link to="/dashboard/company-users/login-history/show"><i class="fa fa-circle-o"></i> Login History</router-link>
            </li>
            <li :class="[currentPage.includes('company-users/user-designation') ? 'active':'']">
              <router-link to="/dashboard/company-users/user-designation/show"><i class="fa fa-circle-o"></i> User Designation</router-link>
            </li>
            <li :class="[currentPage.includes('company-users/shift-to-branch') ? 'active':'']">
              <router-link to="/dashboard/company-users/shift-to-branch/show"><i class="fa fa-circle-o"></i> User-to-Branch</router-link>
            </li>
          </ul>
        </li>

        <li class="treeview">
          <a href="javascript:;">
            <i class="fa fa-support"></i>
            <span>Customer Support</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><router-link to="#"><i class="fa fa-circle-o"></i> Customer Support</router-link></li>
            <li><router-link to="#"><i class="fa fa-circle-o"></i> Create Agent</router-link></li>
            <li><router-link to="#"><i class="fa fa-circle-o"></i> Configuration</router-link></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="javascript:;">
            <i class="fa fa-desktop"></i>
            <span>Monitoring & Evaluation</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><router-link to="#"><i class="fa fa-circle-o"></i> My Company Users</router-link></li>
            <li><router-link to="#"><i class="fa fa-circle-o"></i> Customer Users</router-link></li>
            <li><router-link to="#"><i class="fa fa-circle-o"></i> Security Users</router-link></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="javascript:;">
            <i class="fa fa-bar-chart"></i>
            <span>Performance Measurement</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><router-link to="#"><i class="fa fa-circle-o"></i> My Company Users</router-link></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="javascript:;">
            <i class="fa fa-file-excel-o"></i>
            <span>Reports & View</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><router-link to="#"><i class="fa fa-circle-o"></i> Filter Reports & View</router-link></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="javascript:;">
            <i class="fa fa-gear"></i>
            <span>Setting Attributes</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><router-link to="#"><i class="fa fa-circle-o"></i> My Company</router-link></li>
            <li><router-link to="#"><i class="fa fa-circle-o"></i> Clients</router-link></li>
            <li><router-link to="#"><i class="fa fa-circle-o"></i> Security Agency</router-link></li>
          </ul>
        </li>

        <li :class="[currentPage.includes('country') | currentPage.includes('province') | currentPage.includes('city') ? 'active':'','treeview']">
          <a href="javascript:;">
            <i class="fa fa-wrench"></i>
            <span>General Setting</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li :class="[currentPage.includes('country') ? 'active':'']">
            <router-link to="/dashboard/country/show"><i class="fa fa-circle-o"></i> Country</router-link>
            </li>
            <li :class="[currentPage.includes('province') ? 'active':'']">
            <router-link to="/dashboard/province/show"><i class="fa fa-circle-o"></i> Province</router-link>
            </li>
            <li :class="[currentPage.includes('city') ? 'active':'']">
            <router-link to="/dashboard/city/show"><i class="fa fa-circle-o"></i> City</router-link>
            </li>
          </ul>
        </li>

        <li class="treeview">
          <a href="javascript:;">
            <i class="fa fa-database"></i>
            <span>Backup & Restore</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><router-link to="#"><i class="fa fa-circle-o"></i> Backup</router-link></li>
            <li><router-link to="#"><i class="fa fa-circle-o"></i> Restore</router-link></li>
          </ul>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
</template>

<script>

export default {
  data() {
    return {
      active: null,
      currentUser: "",
      url_image: "",
    }
  },
  created () {
    this.currentUser = JSON.parse(localStorage.getItem("currentUser"));
    this.url_image = process.env.VUE_APP_BASE_URL+this.currentUser.image;
  },
  computed: {
    currentPage(){
      return this.$route.path;
    },
  },
  components: {
    
  },
  methods: {
    
  },
  // ./Methods
}
</script>

<style>
  .page-enter-active, .page-leave-active {
    transition: opacity 0.5s, transform 0.5s;
  }
  .page-enter, .page-leave-to {
    opacity: 0;
  }
  #slider ul li{
    font-size: 12px;
  }
  #slider .sidebar-menu{
    overflow-y: auto; 
    height: 480px;
  }
  /* width */
::-webkit-scrollbar {
  width: 5px;
}
/* hover */
::-webkit-scrollbar-thumb:hover{
  background: grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgrey;
  border-radius: 15px;
}
</style>