<template>
<div>
<va-navbar></va-navbar>
<va-sidebar></va-sidebar>
<div id="content-wrap" class="content-wrapper">
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        City / District(s)
        <small>Parking Management System</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">City / District</li>
      </ol>
    </section>
  <!-- Info boxes -->
  <section class="content">
    <!-- Country -->
    <row>
      <div class="col-md-12">
        <div class="box box-warning">
          <div class="box-header with-border">
            <h3 class="box-title">Add City / District</h3>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <row>
              <div class="col-md-12">
                <div class="form" v-if="isForm == true">
                  <form @submit.prevent="submitForm">

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="countryId">Country</label>
                            <selectize 
                            v-model="countryId" 
                            :searchable="true" 
                            :settings="countrySettings" 
                            >
                                <option v-for="(item,index) in countryArr" v-bind:key="index" :value="item._id" :text="item.title">{{item.title}}
                                </option>
                            </selectize>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="provinceId">Province</label>
                            <selectize 
                            v-model="provinceId" 
                            :searchable="true" 
                            :settings="provinceSettings" 
                            >
                                <option v-for="(item,index) in provinceArr" v-bind:key="index" :value="item._id" :text="item.title">{{item.title}}
                                </option>
                            </selectize>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="title">City / District Title</label>
                            <input type="text" v-model="title" class="form-control" placeholder="Enter City / District name">
                        </div>
                    </div>
                    <div class="box-footer col-sm-12">
                      <div class="pull-right">
                        <button type="submit" class="btn btn-info btn-sm">Add</button> |
                        <button type="reset" class="btn btn-default btn-sm">Reset</button>
                      </div>
                    </div>
                  </form>
                </div>
                <!-- /.chart-responsive -->
                <!-- Edit Form -->
                <div class="form" v-if="isFormEdit == true">
                  <form @submit.prevent="submitForm">

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="countryId">Country</label>
                            <selectize 
                            v-model="countryId" 
                            :searchable="true" 
                            :settings="countrySettings"
                            >
                                <option v-for="(item,index) in countryArr" v-bind:key="index" :value="item._id" :text="item.title">{{item.title}}
                                </option>
                            </selectize>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="provinceId">Province</label>
                            <selectize 
                            v-model="provinceId" 
                            :searchable="true" 
                            :settings="provinceSettings" 
                            >
                                <option v-for="(item,index) in provinceArr" v-bind:key="index" :value="item._id" :text="item.title">{{item.title}}
                                </option>
                            </selectize>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="title">City / District Title</label>
                            <input type="text" v-model="title" class="form-control" placeholder="Enter City/District name">
                        </div>
                    </div>
                    <div class="box-footer col-sm-12">
                      <div class="pull-right">
                        <button type="submit" class="btn btn-info btn-sm">Update</button> |
                        <button type="button" @click="closeForm" class="btn btn-default btn-sm">Cancel</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </row>
            <!-- /.row -->
          </div>
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </row>
    <!-- /.row -->
    <row>
      <div class="col-md-12">
        <div class="box box-warning">
          <div class="box-header with-border">
            <h3 class="box-title">City / District(s)</h3>
            <div class="box-tools">
                <div class="form-group has-feedback">
                    <input type="text" v-model="search" class="form-control" placeholder="Search">
                    <span class="fa fa-search form-control-feedback"></span>
                </div>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">
              <table id="tableCountry" class="table table-hover no-margin table-condensed">
                <thead>
                <tr>
                  <th>Sr#</th>
                  <th>City / District</th>
                  <th>Province</th>
                  <th>Country</th>
                  <th style="width: 15%">Added at</th>
                  <th class="text-center" style="width: 10%">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item,index) in distArrFilter" v-bind:key="index">
                  <td>{{index+1}}</td>
                  <td>{{item.title}}</td>
                  <td>{{item.province.title}}</td>
                  <td>{{item.province.country.title}}</td>
                  <td>{{item.createdAt | formatDateTime}}</td>
                  <td class="text-center">
                    <button type="button" class="btn btn-info btn-xs" @click="editRecord(item._id)"><i class="fa fa-edit"></i></button> | <button type="button" @click="deleteRecord(item._id)" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
        </div>
      </div>
    </row>
    <!-- /.Country -->    
  </section>
</div>
</div>
</template>
<script>
import Navbar from '../pages/Admin/Navbar'
import Sidebar from '../pages/Admin/Sidebar'
import axios from 'axios'
import Selectize from "vue2-selectize";
export default {
  name: 'sample',
  data(){
    return {
      basepath: process.env.VUE_APP_BASE_URL,
      isForm: true,
      isFormEdit: false,
      countryArr: [],
      countrySettings: {
        maxItems: 1,
        searchField: ["text"],
        placeholder: "Select country here"
      },
      title: "",
      distId: "",
      distArr: [],
      provinceId: "",
      provinceArr: [],
      provinceSettings: {
        maxItems: 1,
        searchField: ["text"],
        placeholder: "Select province here"
      },
      search: "",
      countryId: "",

    }
  },
  watch: {
      countryId(val){
          if(val != "" && val != undefined){
            this.showProvince(val);
          }
      }
  },
  
  created () {

  },
  computed: {
    distArrFilter: function() {
      return this.distArr.filter(items => {
        for (var item in items) {
          if (String(items[item]).toLowerCase().indexOf(this.search.toLowerCase()) !== -1 || String(items.province.title).toLowerCase().indexOf(this.search.toLowerCase()) !== -1 || String(items.province.country.title).toLowerCase().indexOf(this.search.toLowerCase()) !== -1) {
            return true;
          }
        }
        return false;
      });
    },
  },
  mounted() {
    this.showDistrict();
    this.showCountry();
  },
  methods: {
    showDistrict(){
      this.openLoading();
      axios.get(this.basepath+"/dashboard/city/get")
      .then(response => {
        this.closeLoading();
        this.distArr = response.data;
      });
    },
    showCountry(){
      this.openLoading();
      axios.get(this.basepath+"/dashboard/country/get")
      .then(response => {
        this.closeLoading();
        this.countryArr = response.data;
      });
    },
    showProvince(id){
      this.openLoading();
      this.provinceArr = [];
      axios.get(this.basepath+"/dashboard/city/province/"+id+"/get")
      .then(response => {
        this.closeLoading();
        this.provinceArr = response.data;
      });
    },
    // add district
    submitForm(e){
      e.preventDefault();
      this.inValid = [];
      if(!this.title){
        this.inValid.push("City / District title is required");
      }
      if(!this.provinceId){
        this.inValid.push("Province title is required");
      }
      for (var i = 0; i < this.inValid.length; i++) {
        this.$toasted.global.errorMsg({
          message: `${this.inValid[i]}`
        });
      }
      if (!this.inValid.length) {
        this.openLoading();
        axios.post(this.basepath+"/dashboard/city/add",{
            title: this.title,
            countryId: this.countryId,
            provinceId: this.provinceId,
            distId: this.distId
          })
        .then(response => {
          this.closeLoading();
          if(response.data.success){
            this.distId == "" ? this.$fire({
              title: "Success",
              text: "Record has been added successfully.",
              type: "success",
              timer: 5000
            }) : this.$fire({
              title: "Success",
              text: "Record has been updated successfully.",
              type: "info",
              timer: 5000
            });
            this.showDistrict();
            this.resetForm();
          } else {
            this.$toasted.global.errorMsg({
              message: `${response.data.error}`
            });
          }
        });
      }
    },
    // edit
    editRecord(id){
      this.openLoading();
      this.isForm = false;
      this.isFormEdit = true;
      axios.get(this.basepath+"/dashboard/city/"+id+"/edit")
      .then(response => {
        this.closeLoading();
        this.title = response.data.title;
        this.countryId = response.data.province.country;
        this.distId = response.data._id;
        this.provinceId = response.data.province._id;
        window.scrollTo(0, 0);
      });
    },
    // delete country
    deleteRecord(id){
      this.$fire({title: "Are you sure",text: "To delete this record?",type: "question",showCancelButton: true}).then((r) => {
          if(r.value == true){
            this.openLoading();
            axios.get(this.basepath+"/dashboard/city/"+id+"/delete")
            .then(response => {
            this.closeLoading();
            if(response)
            this.$fire({
                title: "Success!",
                text: "Record has been deleted successfully.",
                type: "info",
                timer: 5000
            });
            this.showDistrict();
            });
          }
      });
    },
    // close edit form
    closeForm(){
      this.isFormEdit = false;
      this.isForm = true;
      this.resetForm();
    },
    openLoading() {
      this.$vs.loading({
        type: "material"
      });
    },
    closeLoading() {
      this.$vs.loading.close();
    },
    resetForm(){
      this.isFormEdit = false;
      this.isForm = true;
      this.title = "";
      this.countryId = "";
      this.provinceId = "";
      this.distId = "";
    }
  },
   
  components: {
    'va-navbar': Navbar,
    'va-sidebar': Sidebar,
    Selectize
  }
}
</script>
<style scoped>
.selectize-control.multi .selectize-input > div {
  background: rgba(7, 167, 225, 0.61);
  color: #333333;
}
.con-select {
  font-size: 0.85rem !important;
}
.selectize-input.items.not-full.has-options.has-items {
  font-size: 0.85rem !important;
}
</style>