<template>
<div>
<va-navbar></va-navbar>
<va-sidebar></va-sidebar>
<div id="content-wrap" class="content-wrapper">
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Country(s)
        <small>Parking Management System</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Country(s)</li>
      </ol>
    </section>
  <!-- Info boxes -->
  <section class="content">
    <!-- Country -->
    <row>
      <div class="col-md-12">
        <div class="box box-warning">
          <div class="box-header with-border">
            <h3 class="box-title">Country</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <row>
              <div class="col-md-12">
                <div class="form" v-if="isFormCountry == true">
                  <form @submit.prevent="addCountry">
                    <div class="form-group">
                        <label for="ctitle">Country Title</label>
                        <input type="text" v-model="ctitle" class="form-control" placeholder="Enter country name">
                    </div>
                    <div class="form-group">
                        <label for="ccode">Country Code</label>
                        <input type="text" v-model="ccode" class="form-control" placeholder="Enter code, i.e. PK">
                    </div>
                    <div class="box-footer">
                      <div class="pull-right">
                        <button type="submit" class="btn btn-info btn-sm">Add</button> |
                        <button type="reset" class="btn btn-default btn-sm">Reset</button>
                      </div>
                  </div>
                  </form>
                </div>
                <!-- /.chart-responsive -->
                <!-- Edit Country Form -->
                <div class="form" v-if="isFormCountryEdit == true">
                  <form @submit.prevent="addCountry">
                    <div class="form-group">
                        <label for="ctitle">Country Title</label>
                        <input type="text" v-model="ctitle" class="form-control" placeholder="Enter country name">
                    </div>
                    <div class="form-group">
                        <label for="ccode">Country Code</label>
                        <input type="text" v-model="ccode" class="form-control" placeholder="Enter code, i.e. PK">
                    </div>
                    <input type="hidden" v-model="countryId">
                    <div class="box-footer">
                      <div class="pull-right">
                        <button type="submit" class="btn btn-info btn-sm">Update</button> |
                        <button type="button" @click="closeCountryForm" class="btn btn-default btn-sm">Cancel</button>
                      </div>
                  </div>
                  </form>
                </div>
              </div>
            </row>
            <!-- /.row -->
          </div>
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </row>
    <!-- /.row -->
    <row>
      <div class="col-md-12">
        <div class="box box-warning">
          <div class="box-header with-border">
            <h3 class="box-title">Country(s)</h3>
            <div class="box-tools">
                <div class="form-group has-feedback">
                    <input type="text" v-model="search" class="form-control" placeholder="Search">
                    <span class="fa fa-search form-control-feedback"></span>
                </div>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">
              <table id="tableCountry" class="table table-hover no-margin table-condensed">
                <thead>
                <tr>
                  <th>Sr#</th>
                  <th>Title</th>
                  <th>Code</th>
                  <th style="width: 15%">Added at</th>
                  <th class="text-center" style="width: 10%">Action</th>
                </tr>
                </thead>
                <tbody v-if="countryArrFilter">
                <tr v-for="(item,index)  in countryArrFilter" v-bind:key="index">
                  <td>{{index+1}}</td>
                  <td>{{item.title}}</td>
                  <td>{{item.code}}</td>
                  <td>{{item.createdAt | formatDateTime}}</td>
                  <td class="text-center">
                    <button type="button" class="btn btn-info btn-xs" @click="editCountry(item._id)"><i class="fa fa-edit"></i></button> | <button type="button" @click="deleteCountry(item._id)" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
        </div>
      </div>
    </row>
    <!-- /.Country -->    
  </section>
</div>
</div>
</template>
<script>
import Navbar from '../pages/Admin/Navbar'
import Sidebar from '../pages/Admin/Sidebar'
import axios from 'axios'
export default {
  name: 'Country',
  data(){
    return {
      basepath: process.env.VUE_APP_BASE_URL,
      isFormCountry: true,
      isFormCountryEdit: false,
      country: "",
      countryArr: [],
      ctitle: "",
      ccode: "",
      search: "",
      countryId: "",

    }
  },
  
  created () {

  },
  mounted() {
    this.showCountry();
  },
  computed: {
    countryArrFilter: function() {
      return this.countryArr.filter(items => {
        for (var item in items) {
          if (String(items[item]).toLowerCase().indexOf(this.search.toLowerCase()) !== -1 || String(items.code).toLowerCase().indexOf(this.search.toLowerCase()) !== -1) {
            return true;
          }
        }
        return false;
      });
    },
  },
  methods: {
    showCountry(){
      this.openLoading();
      axios.get(this.basepath+"/dashboard/country/get")
      .then(response => {
        this.closeLoading();
        this.countryArr = response.data;
      });
    },
    // add country
    addCountry(e){
      e.preventDefault();
      this.inValid = [];
      if(!this.ctitle){
        this.inValid.push("Country title is required");
      }
      if(!this.ccode){
        this.inValid.push("Country code is required");
      }
      for (var i = 0; i < this.inValid.length; i++) {
        this.$toasted.global.errorMsg({
          message: `${this.inValid[i]}`
        });
      }
      if (!this.inValid.length) {
        this.openLoading();
        axios.post(this.basepath+"/dashboard/country/add",{
            title: this.ctitle,
            code: this.ccode,
            countryId: this.countryId
          })
        .then(response => {
          this.closeLoading();
          if(response.data.success){
            this.countryId == "" ? this.$fire({
              title: "Success",
              text: "Record has been added successfully.",
              type: "success",
              timer: 5000
            }) : this.$fire({
              title: "Success",
              text: "Record has been updated successfully.",
              type: "info",
              timer: 5000
            });
            this.showCountry();
            this.resetForm();
          } else {
            this.$toasted.global.errorMsg({
              message: `${response.data.error}`
            });
          }
        });
      }
    },
    // edit country
    editCountry(id){
      this.openLoading();
      this.isFormCountry = false;
      this.isFormCountryEdit = true;
      axios.get(this.basepath+"/dashboard/country/"+id+"/edit")
      .then(response => {
        this.closeLoading();
        this.ctitle = response.data.title;
        this.ccode = response.data.code;
        this.countryId = response.data._id;
      });
    },
    // delete country
    deleteCountry(id){
      this.$fire({title: "Are you sure",text: "To delete this record?",type: "question",showCancelButton: true}).then((r) => {
          if(r.value == true){
          this.openLoading();
          axios.get(this.basepath+"/dashboard/country/"+id+"/delete")
          .then(response => {
            this.closeLoading();
            if(response)
            this.$fire({
              title: "Success",
              text: "Record has been deleted successfully.",
              type: "info",
              timer: 5000
            });
            this.showCountry();
          });
        }
      });
    },
    // close edit form of country
    closeCountryForm(){
      this.isFormCountryEdit = false;
      this.isFormCountry = true;
      this.resetForm();
    },
    openLoading() {
      this.$vs.loading({
        type: "material"
      });
    },
    closeLoading() {
      this.$vs.loading.close();
    },
    resetForm(){
      this.isFormCountryEdit = false;
      this.isFormCountry = true;
      this.countryId = "";
      this.ctitle = "";
      this.ccode = "";
    }
  },
   
  components: {
    'va-navbar': Navbar,
    'va-sidebar': Sidebar
  }
}
</script>