<template>
  <div class="hold-transition">
<div class="login-box">
  <div class="login-logo">
    <span><b>E-Parking</b>Portal</span>
  </div>
  <div class="alert alert-danger" v-if="error">{{ error }}</div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>

    <form @submit.prevent="loginForm">
      <div class="form-group has-feedback">
        <input type="email" class="form-control" v-model="username" placeholder="Username">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" v-model="password" class="form-control" placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row signin-button">
        <!-- /.col -->
        <div class="col-xs-12">
          <button type="submit" v-if="loading" class="btn btn-primary btn-block">Sign In</button>
           <b-button variant="primary" class="btn btn-primary btn-block" disabled v-else>
              <b-spinner small></b-spinner>
              We are logging you, please wait...
            </b-button>
        </div>
        <!-- /.col -->
      </div>
    </form>
  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
</div>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      basepath: process.env.VUE_APP_BASE_URL,
      username: "",
      password: "",
      loading: true,
      error: "",
    }
  },
  created: function() {
    
  },
  mounted(){
    this.isLoggedIn();
  },
  methods: {
    openLoading() {
      this.$vs.loading({
        type: "material"
      });
    },
    closeLoading() {
      this.$vs.loading.close();
    },
    loginForm(e) {
      e.preventDefault();
      let self = this;
      let noAccess = "";
      this.loading = false;
      axios
        .post(`${this.basepath}/login/user`, {
          username: this.username,
          password: this.password
        })
        .then(function(response) {
          if (response.data.success) {
            let userType = response.data.success.userType;
            localStorage.setItem(
              "currentUser",
              JSON.stringify(response.data.success.user)
            );
            localStorage.setItem("userType", userType);
            localStorage.setItem("token", response.data.success.token);
            localStorage.setItem("auth", response.data.success.auth);

            if (localStorage.getItem("token") != null) {
              // This will redirect to admin dashboard
              if (userType == "superAdmin") {
                self.$router.push("/dashboard/home"); // the router object
                // /main-dashboard 
              } else {
                self.loading = true;
                noAccess = "Your are not authorized to access";
                self.error = noAccess;
              }
            }
          } else if (response.data.error) {
            self.error = response.data.error;
            self.loading = true;
          }
        });
    },
    // This will check if user is already login or not
    isLoggedIn() {
      let currentUser = JSON.parse(localStorage.getItem("currentUser"));
      let self = this;
      let noAccess = "";
        const token = this.parseJwt(localStorage.getItem("token"));
      if (token != null) {
        if(token.exp > Date.now() / 1000) {
          // This will redirect to admin dashboard
          if (currentUser.userType == "superAdmin") {
            self.$router.push("/dashboard/home");
            // main-dashboard
          } else {
            noAccess =
              "You are not authorized to access!";
              self.error = noAccess;
          }

        } else {
          this.$toasted.global.errorMsg({
          message: "Your token is expired, please login again."
        })
        }
      } else {
        return false;
      }
    },
    // //isLoggedIn()
    parseJwt(token) {
      try {
        return JSON.parse(atob(token.split('.')[1]));
      } catch (e) {
        return null;
      }
    }

  }
}
</script>

<style>
  .login-box-body{
    border: 1px solid lightblue;
    height: 250px;
  }
  .signin-button{
    margin-top: 50px;
  }
</style>